<input type="hidden" name="purchaser_group_str_<%- ReservationUtil.PURCHASER_GROUP_CUSTOMER %>" value="一般">
<input type="hidden" name="purchaser_group_str_<%- ReservationUtil.PURCHASER_GROUP_WINDOW %>" value="当日">

<input type="hidden" name="reservation_status_str_<%- ReservationUtil.STATUS_RESERVED %>" value="済">
<input type="hidden" name="reservation_status_str_<%- ReservationUtil.STATUS_WAITING_SETTLEMENT %>" value="GMO決済中">
<input type="hidden" name="reservation_status_str_<%- ReservationUtil.STATUS_WAITING_SETTLEMENT_PAY_DESIGN %>" value="ペイデザイン決済中">

<input type="hidden" name="payment_method_str_<%- GMOUtil.PAY_TYPE_CREDIT %>" value="クレジット">
<input type="hidden" name="payment_method_str_<%- GMOUtil.PAY_TYPE_CVS %>" value="コンビニ">
<input type="hidden" name="payment_method_str_<%- GMOUtil.PAY_TYPE_CASH %>" value="現金">

<div class="wrapper-searchform">
    <form class="search-form" action="/window/mypage/search">
    <input type="hidden" name="limit" value="20">

    <table class="table">
        <tbody>
            <tr>
                <td>
                    予約区分<br>
                    <div class="form-group">
                        <select class="form-control" name="purchaser_groups">
                            <option value="">---</option>
                            <option value="<%- ReservationUtil.PURCHASER_GROUP_CUSTOMER %>">一般</option>
                            <option value="<%- ReservationUtil.PURCHASER_GROUP_WINDOW %>">当日</option>
                        </select>
                    </div>
                </td>
                <td>
                    予約日<br>
                    <div class="form-group">
                        <select class="form-control" name="purchased_day">
                            <option value="">---</option>
                            <% for (let i=0; i<30; i++) { %>
                            <% let _moment =  moment().add(-i, 'days') %>
                            <option value="<%- _moment.format('YYYYMMDD') %>"><%- _moment.format('MM/DD') %></option>
                            <% } %>
                        </select>
                    </div>
                </td>
                <td>
                    購入番号<br>
                    <div class="form-group">
                        <input type="text" class="form-control" name="payment_no">
                    </div>
                </td>
                <td>
                    メールアドレス<br>
                    <div class="form-group">
                        <input type="text" class="form-control" name="email">
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    電話番号<br>
                    <div class="form-group">
                        <input type="text" class="form-control" name="tel">
                    </div>
                </td>
                <td>
                    氏名(セイ)<br>
                    <div class="form-group">
                        <input type="text" class="form-control" name="purchaser_last_name">
                    </div>
                </td>
                <td>
                    氏名(メイ)<br>
                    <div class="form-group">
                        <input type="text" class="form-control" name="purchaser_first_name">
                    </div>
                </td>
                <td>
                    作品名<br>
                    <div class="form-group">
                        <input type="text" class="form-control" name="film_name">
                    </div>
                </td>
                <td>
                    上映日<br>
                    <div class="form-inline">
                        <div class="form-group">
                            <select class="form-control" name="day">
                                <option value="">---</option>
                                <%
                                let now = moment();
                                let start = moment(conf.get('datetimes.event_start'));
                                let end = moment(conf.get('datetimes.event_end'));
                                let options = '';
                                while (start.format('YYYYMMDD') <= end.format('YYYYMMDD')) {
                                    options += `<option value="${start.format('YYYYMMDD')}">${start.format('MM/DD')}</option>`;
                                    start = start.add(+1, 'days');
                                    continue;
                                }
                                %>
                                <%- options %>
                            </select>
                        </div>
                        <div class="form-group">
                            <a class="btn" href="javascript:void(0)"><span><%- __('Button.Search') %></span></a>
                        </div>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
    </form>
</div>

<p class="row">About <span class="total-count"></span> results</p>

<div class="wrapper-reservations">
    <table class="table table-bordered">
        <thead>
            <tr>
                <th><input type="checkbox" class="check-all"></th>
                <th><%- __('Label.PaymentNo') %><br>予約区分<br>予約日時</th>
                <th>決済状況<br>支払い方法</th>
                <th>氏名<br><%- __('Label.Email') %><br><%- __('Label.Tel') %></th>
                <th><%- __('Label.FilmName') %> / <%- __('Label.PerformanceTime') %> / <%- __('Label.PerformancePlace') %></th>
                <th><%- __('Label.SeatCode') %></th>
                <th></th>
            </tr>
        </thead>
        <tbody id="reservations">

        </tbody>
    </table>
</div>

<p class="text-center initial-message"><%- __('Message.PleaseSearch') %></p>

<div class="wrapper-controls">

    <div class="form-inline">
        <div class="form-group">
            <select class="form-control" name="action">
                <option value=""><%- __('Label.Actions') %></option>
                <option value="cancel"><%- __('Label.Cancel') %></option>
                <option value="print"><%- __('Label.Print') %></option>
            </select>
        </div>
        <div class="form-group">
            <p class="btn action-to-reservations"><span><%- __('Label.Apply') %></span></p>
        </div>
    </div>

    <div class="navigation">
    </div>

</div>





<div class="modal modal-cancel fade cancel-reservation-confirm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <p class="btn-circle-close" data-dismiss="modal"></p>

            <div class="modal-body">
                <h2><%- __('Label.ConfirmCancel') %></h2>
                <table class="table table-reservation-confirm">
                </table>
                <p class="text message"><%- __('Message.AreYouSureCancel') %></p>
                <div class="btns2clm">
                    <p class="btn btn-lg btn-next btn-exec execute-cancel" data-url=""><span><%- __('Button.Yes') %></span></p>
                    <p class="btn btn-lg btn-back" data-dismiss="modal"><span><span><%- __('Button.No') %></span></p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal modal-cancel fade cancel-reservation-complete" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <p class="btn-circle-close" data-dismiss="modal"></p>

            <div class="modal-body">
                <h2><%- __('Label.CompleteCancel') %></h2>
                <%- __('Message.CompleteCancel') %>
            </div>

            <div class="modal-footer">
                <p class="btn btn-close" data-dismiss="modal"><span><%- __('Button.Close') %></span></p>
            </div>
        </div>
    </div>
</div>

<div class="modal fade loading" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <div class="text-center"><%- __('Message.Searching') %></div>
            </div>
        </div>
    </div>
</div>

<input type="hidden" name="urlCancel" value="/window/cancel/execute">
<input type="hidden" name="messageAreYouSureCancel" value="<%- __('Message.AreYouSureCancel') %>">
<input type="hidden" name="messageConfirmCancelSelectedTickets" value="<%- __('Message.ConfirmCancelSelectedTickets') %>">

<script src="/js/window/mypage.js"></script>

