<%- include('../../common/reserve/_step') %>

<h1 class="pagetitle"><%- __('h1.ConfirmReservation') %></h1>
<p class="guidetext"><%- __('Label.ConfirmReservationGuideTextNoPayment') %></p>

<div class="wrapper-confirm">

    <h2><%- __('h2.SeatInformation') %></h2>
    <table class="table table-confirm">
        <tbody>
            <tr>
                <th><%- __('Label.FilmName') %>
                    <p class="visible-mobile-block">
                        <a class="btn btn-default btn-change btn-icon-back" href="/window/reserve/performances">
                            <span><%- __('Button.Change') %></span>
                        </a>
                    </p>
                </th>
                <td>
                    <p><%- reservationModel.performance.film.name[locale] %></p>
                    <a class="btn btn-default btn-change btn-icon-back visible-pc" href="/window/reserve/performances">
                        <span><%- __('Button.Change') %></span>
                    </a>
                </td>
            </tr>

            <tr>
                <th><%- __('Label.DatetimeAndLocation') %></th>
                <td>
                    <p>
                        <%- reservationModel.performance[`start_str`][locale] %>&nbsp;&nbsp;<%- reservationModel.performance[`location_str`][locale] %> 
                    </p>
                </td>
            </tr>

            <tr>
                <th>
                    <%- __('Label.SeatCode') %>/<%- __('Label.TicketType') %>
                    <p class="visible-mobile-block">
                        <a class="btn btn-default btn-change btn-icon-back" href="/window/reserve/seats>"><span><%- __('Button.Change') %></span></a>
                    </p>
                </th>
                <td>
                    <p>
                        <% reservationModel.seatCodes.forEach((seatCode) => { %>
                            <% let reservation = new Models.Reservation(reservationModel.seatCode2reservationDocument(seatCode)); %>
                            <%- reservation.get('seat_code') %> / <%- reservation.get(`ticket_type_detail_str`)[locale].replace(/\\/g, '&yen;') %>
                            <%- (reservationModel.paymentMethod === GMOUtil.PAY_TYPE_CVS) ? `[+${ReservationUtil.CHARGE_CVS}(${__('Label.PaymentMethodName.CVS')})]` : '' %>
                            <br>
                        <% }) %>
                    </p>
                    <a class="btn btn-default btn-change btn-icon-back visible-pc" href="/window/reserve/seats">
                        <span><%- __('Button.Change') %></span>
                    </a>
                </td>
            </tr>

            <% if (reservationModel.getTotalCharge() > 0) { %>
            <tr>
                <th>
                    <%- __('Label.TotalPrice') %>
                </th>
                <td>
                    <p>
                        <span class="price"><%- __('{{price}} yen', {price: numeral(reservationModel.getTotalCharge()).format('0,0')}) %></span>
                    </p>
                </td>
            </tr>
            <% } %>

        </tbody>
    </table>


    <h2>
        <%- __('h2.Profile') %>
        <a class="btn btn-default btn-change btn-icon-back" href="/window/reserve/profile">
            <span><%- __('Button.Change') %></span>
        </a>
    </h2>
    <table class="table table-confirm">
        <tbody>
            <tr>
                <th><%- __('Label.PaymentMethod') %></th>
                <td>
                    <p>
                    <% if (reservationModel.paymentMethod === GMOUtil.PAY_TYPE_CREDIT) { %>
                    <%- __('Label.PaymentMethodName.CREDIT') %>
                    <% } else if (reservationModel.paymentMethod === GMOUtil.PAY_TYPE_CVS) {%>
                    <%- __('Label.PaymentMethodName.CVS') %>
                    <% } else if (reservationModel.paymentMethod === GMOUtil.PAY_TYPE_CASH) {%>
                    <%- __('Label.PaymentMethodName.CASH') %>
                    <% } %>
                    </p>
                </td>
            </tr>

        </tbody>
    </table>
</div>

<div class="wrapper-notice">
    <h2><%- __('Label.ConfirmNotes') %></h2>
    <p><%- __('ConfirmNotesText') %></p>
</div>

<div class="btns2clm">
    <a class="btn btn-lg btn-next" href="javascript:void(0);"><span><%- __('Button.Next') %></span></a>
    <a class="btn btn-lg btn-back" href="/window/reserve/profile"><span><%- __('Button.Back') %></span></a>
</div>

<script>
$(function(){
    $('.btn-next').on('click', function(){
        var form = $('<form/>', {'method': 'post'}); // location.hrefにpostする
        form.appendTo(document.body);
        form.submit();
    });

});
</script>
