<div class="wrapper-searchform">

    <form class="search-form" action="/api/reservations">
        <input type="hidden" name="limit" value="50">

        <h3>
            日時
        </h3>
        <div class="wrapper-inputs wrapper-time form-group">
            <input name="day" id="input_performancedate" class="form-control" value="">
            <%- /* 開始時刻 */ %>
            <select class="form-control" name="start_hour1">
                <option value=""></option>
                <option value="00">00</option>
                <option value="01">01</option>
                <option value="02">02</option>
                <option value="03">03</option>
                <option value="04">04</option>
                <option value="05">05</option>
                <option value="06">06</option>
                <option value="07">07</option>
                <option value="08">08</option>
                <option value="09">09</option>
                <option value="10">10</option>
                <option value="11">11</option>
                <option value="12">12</option>
                <option value="13">13</option>
                <option value="14">14</option>
                <option value="15">15</option>
                <option value="16">16</option>
                <option value="17">17</option>
                <option value="18">18</option>
                <option value="19">19</option>
                <option value="20">20</option>
                <option value="21">21</option>
                <option value="22">22</option>
                <option value="23">23</option>
            </select>
            時
            <select class="form-control" name="start_minute1">
                <option value=""></option>
                <option value="00">00</option>
                <option value="15">15</option>
                <option value="30">30</option>
                <option value="45">45</option>
            </select>
            分
            ～
            <%- /* 終了時刻 */ %>
            <select class="form-control" name="start_hour2">
                <option value=""></option>
                <option value="00">00</option>
                <option value="01">01</option>
                <option value="02">02</option>
                <option value="03">03</option>
                <option value="04">04</option>
                <option value="05">05</option>
                <option value="06">06</option>
                <option value="07">07</option>
                <option value="08">08</option>
                <option value="09">09</option>
                <option value="10">10</option>
                <option value="11">11</option>
                <option value="12">12</option>
                <option value="13">13</option>
                <option value="14">14</option>
                <option value="15">15</option>
                <option value="16">16</option>
                <option value="17">17</option>
                <option value="18">18</option>
                <option value="19">19</option>
                <option value="20">20</option>
                <option value="21">21</option>
                <option value="22">22</option>
                <option value="23">23</option>
            </select>
            時
            <select class="form-control" name="start_minute2">
                <option value=""></option>
                <option value="00">00</option>
                <option value="15">15</option>
                <option value="30">30</option>
                <option value="45">45</option>
            </select>
            分
        </div>

        <h3>購入情報から検索</h3>
        <div class="wrapper-inputs form-inline">
            <div class="form-group">
                <label>
                    購入番号
                </label>
                <input type="text" class="form-control" name="payment_no">
            </div>
            <div class="form-group">
                <label>予約方法</label>
                <select class="form-control" name="purchaser_group">
                    <option value="">指定無し</option>
                    <option value="Customer">一般ネット予約</option>
                    <option value="Staff">窓口代理予約</option>
                    <option value="POS">POS</option>
                </select>
            </div>
            <div class="form-group">
                <label>購入アカウント</label>
                <select class="form-control" name="owner">
                    <option value="">指定無し</option>
                    <% owners.forEach((owner) => { %>
                    <option value="<%= owner.username %>">
                        <%= owner.familyName %><%= owner.givenName %>
                    </option>
                    <% }) %>
                </select>
            </div>
            <div class="form-group">
                <label>決済手段</label>
                <select class="form-control" name="payment_method">
                    <option value="">指定無し</option>
                    <% Object.keys(paymentMethods).forEach((methodCode) => {
                    %>
                    <option value="<%- methodCode %>">
                        <%- paymentMethods[methodCode] %>
                    </option>
                    <%  }); %>
                </select>
            </div>
        </div>

        <h3>購入者情報から検索</h3>
        <div class="wrapper-inputs wrapper-purchaser form-group">
            <div class="form-inline">
                <div class="form-group">
                    <label>お名前(姓)</label>
                    <input type="text" class="form-control" name="purchaser_last_name">
                </div>
                <div class="form-group">
                    <label>(名)</label>
                    <input type="text" class="form-control" name="purchaser_first_name">
                </div>
                <div class="form-group">
                    <label>メールアドレス</label>
                    <input type="text" class="form-control" name="purchaser_email">
                </div>
            </div>

            <div class="form-inline">
                <div class="form-group">
                    <label>電話番号(後方一致)</label>
                    <input type="text" class="form-control" name="purchaser_tel">
                </div>
                <div class="form-group">
                    <label>メモ</label>
                    <input type="text" class="form-control" name="watcher_name">
                </div>
            </div>
        </div>

        <a class="btn btn-next" href="javascript:void(0)">
            <span>
                予約を検索
            </span>
        </a>
        <a id="btn_clearconditions" class="btn btn-big" href="javascript:void(0)">
            <span>検索条件リセット</span>
        </a>

    </form>
</div>

<p id="echo_searchmsg"></p>
<p id="echo_totalcount"></p>

<div class="wrapper-reservations">
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>
                    <input type="checkbox" class="check-all">
                </th>
                <th>購入番号</th>
                <th>氏名</th>
                <th>メモ</th>
                <th>
                    席コード
                </th>
                <th>券種</th>
                <th>予約方法</th>
                <th>決済方法</th>
                <th>入場状況</th>
                <th></th>
            </tr>
        </thead>
        <tbody id="reservations">

        </tbody>
    </table>
</div>



<div class="wrapper-controls">

    <div class="form-inline">
        <div class="form-group">
            <select class="form-control" id="select_action" name="action">
                <option value="">
                    操作を選択
                </option>
                <option value="cancel">キャンセル</option>
                <option value="print">A4チケット印刷</option>
                <option value="thermalprint">サーマルチケット印刷</option>
                <option value="widethermalprint">団体印刷</option>
            </select>
        </div>
        <div class="form-group">
            <p class="btn action-to-reservations">
                <span>
                    実行
                </span>
            </p>
        </div>
    </div>

    <div class="navigation">
    </div>

</div>

<div class="modal-calender">
    <div class="modal-calender-content">
        <div id="calendercontainer"></div>
    </div>
</div>

<div id="modal_show_list" class="modal modal-show-list fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <p class="btn-close" data-dismiss="modal">
                    <span>×</span>
                </p>
                <h2 class="modal-title">指定した予約のキャンセル処理を実行してよろしいですか？</h2>
                <p id="error_cancel"></p>
            </div>
            <div class="modal-body">
                <div id="echo_showlist"></div>
            </div>
            <div class="modal-footer">
                <div class="btns2clm">
                    <p class="btn btn-modal-show-list">
                        <span>OK</span>
                    </p>
                    <p class="btn" data-dismiss="modal">
                        <span>キャンセル</span>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="modal_detail" class="modal modal-detail modal-cancel fade" tabindex="-1" role="dialog"
    aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <p class="btn-close" data-dismiss="modal">
                    <span>×</span>
                </p>
                <h2 class="modal-title">予約詳細</h2>
                <p id="error_cancel"></p>
            </div>
            <div class="modal-body">
                <form>
                    <h3>購入情報</h3>
                    <div>
                        <h4>購入番号</h4>
                        <p class="echo" id="echo_detailmodal__payment_no"></p>
                        <hr>

                        <h4>氏名 / 電話番号</h4>
                        <p class="echo" id="echo_detailmodal__purchaserinfo"></p>
                        <hr>

                        <h4>ご購入日時 / ご来塔ご予約日時</h4>
                        <p class="echo" id="echo_detailmodal__date"></p>
                        <hr>

                        <h4>座席 / 券種 / メモ</h4>
                        <p class="echo" id="echo_detailmodal__info"></p>
                        <hr>

                        <h4>購入場所 / 決済方法 / 入場状況</h4>
                        <p class="echo" id="echo_detailmodal__purchaseinfo"></p>
                        <hr>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <div class="btns2clm">
                    <p class="btn btn-print">
                        <span>A4チケット印刷</span>
                    </p>
                    <p class="btn btn-thermalprint">
                        <span>入場QRサーマル印刷</span>
                    </p>
                </div>
                <div>
                    <p class="btn btn-widethermalprint">
                        <span>団体印刷</span>
                    </p>
                </div>
                <p class="btn btn-cancelrsrv">
                    <span>この予約をキャンセル</span>
                </p>
                <p class="btn btn-close" data-dismiss="modal">
                    <span>閉じる</span>
                </p>
            </div>
        </div>
    </div>
</div>

<div id="modal_cancelcompleted" class="modal modal-cancel fade" role="dialog" aria-labelledby="myModalLabel"
    tabindex="-1" data-backdrop="static">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title">チケットキャンセル完了</h2>
            </div>
            <div class="modal-body">
                <div id="echo_canceledreservations"></div>
                <p>上記チケットのキャンセル手続きが完了いたしました。</p>
            </div>
            <div class="modal-footer">
                <p class="btn btn-close" id="btn_cancelcompleted" data-dismiss="modal">
                    <span>閉じる</span>
                </p>
            </div>
        </div>
    </div>
</div>

<div class="modal fade loading" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" data-backdrop="static">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <div class="text-center">
                    処理中
                </div>
            </div>
        </div>
    </div>
</div>

<input type="hidden" name="username" value="<%- req.staffUser.username %>">
<input type="hidden" name="urlCancel" value="/api/reservations/cancel">
<input type="hidden" name="messageAreYouSureCancel" value="本当にキャンセルしますか？">

<script src="/js/flatpickr/flatpickr.min.js"></script>
<script src="/js/flatpickr/flatpickr.locale.ja.js"></script>
<script src="/js/staff/mypage.js"></script>