<p class="guidetext"><%- __('Label.GMOStartGuideText') %></p>

<form action="<%- conf.get('gmo_payment_api_link_multi_entry') %>" method="post">
    <input type="hidden" name="ShopID" value="<%- shopId %>"><br>
    <input type="hidden" name="OrderID" value="<%- orderID %>"><br>
    <input type="hidden" name="Amount" value="<%- amount %>"><br>
    <input type="hidden" name="DateTime" value="<%- dateTime %>"><br>
    <input type="hidden" name="ShopPassString" value="<%- shopPassString %>"><br>
    <input type="hidden" name="RetURL" value="<%= retURL %>"><br>
    <!-- 決済キャンセル時に遷移する加盟店URL -->
    <input type="hidden" name="CancelURL" value="<%= cancelURL %>"><br>
    <!-- カード決済画面を表示してから決済を行うまでの経過時間の上限で、設定単位は秒 -->
    <input type="hidden" name="SessionTimeout" value="300"><br>
    <input type="hidden" name="Lang" value="<%- locale %>"><br>

    <input type="hidden" name="UseCredit" value="<%- useCredit %>"><br>
    <input type="hidden" name="UseCvs" value="<%- useCvs %>"><br>

    <input type="hidden" name="JobCd" value="CAPTURE"><br>

    <!-- 購入番号 -->
    <input type="hidden" name="ReserveNo" value="<%- reserveNo %>"><br>

    <!--
    レジ・ATM に表示される内容です。設定可能な文字は「全角文字」となります。
    -->
    <!-- レジ・ATM 表示欄1(32bytesまで) -->
    <input type="hidden" name="RegisterDisp1" value="<%- registerDisp1 %>"><br>
    <!-- レジ・ATM 表示欄2(32bytesまで) -->
    <input type="hidden" name="RegisterDisp2" value="<%- registerDisp2 %>"><br>
    <!-- レジ・ATM 表示欄3(32bytesまで) -->
    <input type="hidden" name="RegisterDisp3" value="<%- registerDisp3 %>"><br>
    <!-- レジ・ATM 表示欄4(32bytesまで) -->
    <input type="hidden" name="RegisterDisp4" value="<%- registerDisp4 %>"><br>
    <!--
    <input type="hidden" name="RegisterDisp5" value="レジ表示欄５レジ表示欄５"><br>
    <input type="hidden" name="RegisterDisp6" value="レジ表示欄６レジ表示欄６"><br>
    <input type="hidden" name="RegisterDisp7" value="レジ表示欄７レジ表示欄７"><br>
    <input type="hidden" name="RegisterDisp8" value="レジ表示欄８レジ表示欄８"><br>
    -->


    <!--
    レシート・利用明細に表示される内容です。設定可能な文字は「全角文字」となります。
    -->
    <!-- レシート・利用明細表示欄1(60bytesまで) -->
    <input type="hidden" name="ReceiptsDisp1" value="ご購入頂き誠に有難うございます。この後配信されるメール本文内"><br>
    <!-- レシート・利用明細表示欄2(60bytesまで) -->
    <input type="hidden" name="ReceiptsDisp2" value="のＱＲコードをもって劇場までおこしください。メールエラーなど"><br>
    <!-- レシート・利用明細表示欄3(60bytesまで) -->
    <input type="hidden" name="ReceiptsDisp3" value="受け取れなかった方は（お客様控え）にあります、電話までご連絡"><br>
    <!-- レシート・利用明細表示欄4(60bytesまで) -->
    <input type="hidden" name="ReceiptsDisp4" value="ください。"><br>
    <!-- レシート・利用明細表示欄5(60bytesまで) -->
    <input type="hidden" name="ReceiptsDisp5" value="※学生（小学生は除く）の方は、劇場へご入場の際に必ず学生証ま"><br>
    <!-- レシート・利用明細表示欄6(60bytesまで) -->
    <input type="hidden" name="ReceiptsDisp6" value="たは生徒手帳をご提示下さい。※交通渋滞による来場遅延、その他"><br>
    <!-- レシート・利用明細表示欄7(60bytesまで) -->
    <input type="hidden" name="ReceiptsDisp7" value="いかなる場合でも、ご購入後のチケットの変更およびキャンセル・"><br>
    <!-- レシート・利用明細表示欄8(60bytesまで) -->
    <input type="hidden" name="ReceiptsDisp8" value="払い戻しは致しません。なお不可抗力により表記公演の興行を中止"><br>
    <!-- レシート・利用明細表示欄9(60bytesまで) -->
    <input type="hidden" name="ReceiptsDisp9" value="する場合の払い戻しは、所定の期間内に所定の方法にて行います。"><br>
    <!-- レシート・利用明細表示欄10(60bytesまで) -->
    <input type="hidden" name="ReceiptsDisp10" value=""><br> 

   <!-- お問合せ先(半角英数字 + 半角記号(除く ^ ` { | } ~ & < > " ' ) ＋全角文字42bytesまで) -->
    <input type="hidden" name="ReceiptsDisp11" value="CHEVREチケットインフォメーションセンター"><br>
    <!-- お問合せ先電話番号(12bytesまで) -->
    <input type="hidden" name="ReceiptsDisp12" value="05037860368"><br>
    <!-- お問合せ先受付時間(11bytesまで) -->
    <input type="hidden" name="ReceiptsDisp13" value="12:00-18:00"><br>
</form>

<script>
$(function(){
    document.forms[0].submit();
});
</script>
