<%- include('../../common/reserve/_step', {currentStepName: 'confirm'}) %>

<h1 class="pagetitle">代理予約内容確認</h1>
<p class="guidetext">代理予約内容をご確認いただき、「代理予約確定」ボタンを押してください。</p>

<div class="wrapper-confirm">

    <h2>予約情報</h2>
    <table class="table table-confirm">
        <tbody>
            <%- /* 日時/場所 */ %>
            <tr>
                <th>予約日時</th>
                <td>
                    <p>
                        <%
                        const doorTime = moment(reservationModel.performance.door_time);
                        const startDate = moment(reservationModel.performance.start_date);
                        %>
                        <%- `${doorTime.format('YYYY/MM/DD')} 開場 ${doorTime.format('mm:ss')} 開演 ${startDate.format('mm:ss')}` %>
                    </p>
                </td>
            </tr>
            <tr>
                <th>ツアーナンバー</th>
                <td>
                    <p>
                        <%- reservationModel.performance.ttts_extension.tour_number %>
                    </p>
                </td>
            </tr>
            <%- /* 券種/枚数/メモ */ %>
            <tr>
                <th>
                    <%- __('TicketType') %> / <%- __('TicketCount') %> / メモ
                </th>
                <td>
                <% Object.keys(ticketInfos).forEach(function(key) { %>
                    <p><%= ticketInfos[key].info %></p>
                    <p>予約メモ: <strong><%= ticketInfos[key].watcher_name %></strong></p>
                <% }); %>
                </td>
            </tr>
        </tbody>
    </table>

    <h2>お支払情報</h2>
    <table class="table table-confirm">
        <tbody>
            <%- /* 決算手段 */ %>
            <tr>
                <th>
                    お支払い方法
                </th>
                <td>
                    <p><%- __(`PaymentMethodName.${reservationModel.paymentMethod}`) %></p>
                </td>
            </tr>
        </tbody>
    </table>
</div>

<div class="navbtns">
    <a class="btn btn-lg btn-next" href="javascript:void(0);"><span>代理予約確定</span></a>
    <a class="btn-back" href="/staff/reserve/profile"><span><%- __('Back') %></span></a>
</div>

<script>
$(function(){
    $('.btn-next').on('click', function(){
        var form = $('<form/>', {'method': 'post'}); // location.hrefにpostする
        form.appendTo(document.body);
        form.submit();
    });

});
</script>
