| 東京タワートップデッキツアー　返金完了のお知らせ
| Payment Refund Notification for the Tokyo Tower Top Deck Tour
| 
| #{purchaserNameJa}様
| Mr./Ms. #{purchaserNameEn}
| 
| ご予約いただいた下記トップデッキツアーの開催ができず、
| 皆様に大変ご迷惑をお掛けいたしました。誠に申し訳ございませんでした。
| 
| 弊社の返金手続きが完了いたしました。
| ご購入時にご利用のクレジットカードへご購入金額全額の返金をしております。
| 
| We are unable to operate the following Top Deck Tour. We would like to extend our deepest apologies for the inconvenience.
| 
| The procedures for refunding the cost of the tickets have now been completed.
| The sum paid by credit card when purchasing the tickets has been refunded accordingly.
| 
| ※具体的な返金日程等は、お客様のクレジットカード会社とのご契約内容により異なりますので、
| 詳細につきましては、申し訳ございませんが、ご利用のクレジットカード会社へ直接お問い合わせください。
| 
| * The date that the refund becomes effective will differ in accordance with the contract you have concluded with the credit card company.
| We apologize for the inconvenience, but you are requested to direct all inquiries to your credit card company.
| 
| 購入番号 : #{paymentNo}
| ご予約日時 : #{day} #{startTime}
| 券種 枚数
| #{ticketInfoJa}
| -------------------------------------
| 合計枚数 #{numberOfReservations}枚
| 合計金額 #{amount} 円
| -------------------------------------
| 
| Purchase Number : #{paymentNo}
| Date/Time of Tour : #{day} #{startTime}
| Ticket Type Quantity
| #{ticketInfoEn}
| -------------------------------------
| Total Number of Tickets: #{numberOfReservations}
| Total Cost #{amount} JPY
| -------------------------------------
| 
| 
| なお、このメールは、「東京タワー トップデッキツアー」の予約システムでチケットをご購入頂いた方にお送りしておりますが、チケット購入に覚えのない方に届いております場合は、下記お問い合わせ先までご連絡ください。
| ※尚、このメールアドレスは送信専用となっておりますでので、ご返信頂けません。
| ご不明な点がございましたら、下記番号までお問合わせください。
| 
| This message is sent to people who have purchased tickets for the Tokyo Tower Top Deck Tour via the reservation system. If you have no recollection of purchasing these tickets, please contact the number listed below.
| * The e-mail address is for transmission purposes only, and cannot be replied to.
| Contact the following number if you have any inquiries.
| 
| お問い合わせはこちら
| 東京タワー　TEL : 03-3433-5111　/　9：00am～17：00pm（年中無休）
| 
| Inquiries
| Tokyo Tower Tel: 03-3433-5111 / 09:00 to 17:00 (365 days a year)