<h1 class="pagetitle"><%- __('h1.ReleaseSeats') %></h1>
<p class="guidetext"><%- __('Label.ReleaseSeatsGuideText') %></p>

<div class="wrapper-releaseform">
    <form class="form-inline">
        <select class="form-control select-day" name="day">
            <% for (let day of Object.keys(reservationsByDay)) { %>
            <option value="<%- day %>" data-count="<%- reservationsByDay[day].length %>"><%- day %></option>
            <% } %>
        </select>

        <div class="form-group">
            <p class="btn confirm-release"><span><%- __('Button.Release') %></span></p>
        </div>
    </form>
</div>

<a class="btn btn-default btn-lg btn-back" href="/staff/mypage"><span><%- __('Button.Back') %></span></a>



<div class="modal modal-release fade release-confirm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <p class="btn-circle-close" data-dismiss="modal"></p>
            <div class="modal-body">
                <p class="text text-confirm"></p>
                <div class="btns2clm">
                    <p class="btn btn-lg btn-next btn-exec execute-release" data-url="/staff/mypage/release"><span><%- __('Button.Yes') %></span></p>
                    <p class="btn btn-lg btn-back" data-dismiss="modal"><span><span><%- __('Button.No') %></span></p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal modal-release fade release-complete" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <p class="btn-circle-close" data-dismiss="modal"></p>
            <div class="modal-body">
                <p class="text text-complete"></p>
            </div>
            <div class="modal-footer">
                <p class="btn btn-close" data-dismiss="modal"><span><%- __('Button.Close') %></span></p>
            </div>
        </div>
    </div>
</div>

<script>
$(function(){
    var locale = $('html').attr('lang');
    var day;
    var count;

    $(document).on('click', '.confirm-release', function(){
        day = $('.select-day option:selected').val();
        count = $('.select-day option:selected').attr('data-count');
        if (!day) {
            return false;
        }

        if (locale === 'ja') {
            $('.text-confirm').html(day + 'のキャンセル(キャンセル数' + count + '件)を解放します');
        } else {
            $('.text-confirm').html('Release your cancelled seats for ' + day + ' for (number of cancelled seats*: ' + count + ')');
        }

        $('.release-confirm').modal();
    });

    $(document).on('click', '.execute-release', function(){
        $.ajax({
            dataType: 'json',
            type: 'POST',
            url: $(this).attr('data-url'),
            data: {
                day: day
            },
            beforeSend: function() {
                $('.release-confirm').modal('hide');
            }
        }).done(function(data) {
            if (data.success) {
                $('.select-day option:selected').remove();
                if (locale === 'ja') {
                    $('.text-complete').html(day + 'のキャンセル(キャンセル数' + count + '件)を解放しました');
                } else {
                    $('.text-complete').html('Your cancelled seats for ' + day + ' for (number of cancelled seats*: ' + count + ') have been released.');
                }
                $('.release-confirm').modal('hide');
                $('.release-complete').modal();
            } else {
                alert('キャンセルできませんでした');
            }
        }).fail(function(jqxhr, textStatus, error) {

        }).always(function(data) {

        });
    });
})
</script>
