<%- include('../../common/reserve/_complete') %>

<div class="btns2clm">
    <a class="btn btn-lg btn-next" href="<%= conf.get('official_website_url') %>ja/lineup/list.php"><span><%- __('Button.ReserveTicketsAnotherMovie') %></span></a>
    <a class="btn btn-lg btn-back" href="<%= conf.get('official_website_url') %>"><span><%- __('Button.BackToOfficialSite') %></span></a>
</div>
