<%- include('../../common/reserve/_tickets') %>

<div class="wrapper-terms is-customer">
    <h2><%- __('h1.Policy') %></h2>
    <div class="lawtext">
    <%- include(`../../common/terms/_include/${locale}`) %>
    </div>
    <div class="wrapper-agreement">
        <label for="checkbox_agreed"><input id="checkbox_agreed" type="checkbox"> <span><%- __('Label.Agree') %></span></label>
    </div>
</div>

<div class="navbtns">
    <a class="btn btn-next btn-disabled" id="btn_next" href="javascript:void(0);"><span><%- __('Button.Next') %></span></a>
    <a class="btn-back" href="/customer/reserve/performances/<%= reservationModel.category %>"><span><%- __('Button.Back') %></span></a>
</div>
