<%- include('../../common/reserve/_step') %>

<h1 class="pagetitle"><%- __('h1.CompleteTemporaryReservation') %></h1>
<p class="guidetext"><%- __('Label.CompleteTemporaryReservationGuideText') %></p>

<table class="table table-waitingSettlement">
    <tbody>
        <tr>
            <th><%- __('Label.FilmName') %></th>
            <td><%- reservationDocuments[0].get(`film_name`)[locale] %></td>
        </tr>
        <tr>
            <th><%- __('Label.PerformanceTime') %>/<%- __('Label.PerformancePlace') %></th>
            <td>
                <%- reservationDocuments[0].performance_day %> <%- reservationDocuments[0].performance_start_time %> ～ 
                <%- reservationDocuments[0].get(`theater_name`)[locale] %> 
                <%- reservationDocuments[0].get(`screen_name`)[locale] %>
            </td>
        </tr>
        <tr>
            <th><%- __('Label.SeatCode') %></th>
            <td>
                <%- reservationDocuments.map((reservationDocument) => {return reservationDocument.seat_code;}).join('、') %>
            </td>
        </tr>
    </thead>
</table>

<%
let seatCodes = reservationDocuments.map((reservationDocument) => {return reservationDocument.seat_code});
%>
<div class="center">
    <a class="btn btn-lg btn-showseat show-seat-position" href="javascript:void(0)" data-screen-id="<%- reservationDocuments[0].screen %>" data-seat-codes="<%- seatCodes.join(',') %>"><span>座席を表示</span></a>
</div>



<p class="guidetext"><%- __('Label.RequireCustomerNumberAndConfirmationNumber') %></p>

<table class="table table-waitingSettlement">
    <tbody>
        <tr>
            <th><%- __('Label.CustomerNumber') %></th>
            <td><%- reservationDocuments[0].gmo_cvs_conf_no %></td>
        </tr>
        <tr>
            <th><%- __('Label.ConfirmationNumber') %></th>
            <td><%- reservationDocuments[0].gmo_cvs_receipt_no %></td>
        </tr>
        <tr>
            <th><%- __('Label.DateDue') %></th>
            <% let term = reservationDocuments[0].gmo_payment_term %>
            <td><%- `${term.substr(0, 4)}/${term.substr(4, 2)}/${term.substr(6, 2)} ${term.substr(8, 2)}:${term.substr(10, 2)}:${term.substr(12)}` %></td>
        </tr>
        <tr>
            <th><%- __('Label.HowToPay') %></th>
            <td><a target="_blank" href="https://www.gmo-pg.com/service/convenience_store/various_user/#familymart">https://www.gmo-pg.com/service/convenience_store/various_user/#familymart
</a></td>
        </tr>
    </thead>
</table>


<div class="btns2clm">
    <a class="btn btn-lg btn-next" href="<%= conf.get('official_website_url') %>ja/lineup/list.php"><span><%- __('Button.ReserveTicketsAnotherMovie') %></span></a>
    <a class="btn btn-lg btn-back" href="<%= conf.get('official_website_url') %>"><span><%- __('Button.BackToOfficialSite') %></span></a>
</div>
