<div class="wrapper-searchform">

    <form class="search-form" action="/staff/suspension/list/search">
        <input type="hidden" name="limit" value="20">
        <h3>販売停止処理日</h3>
        <div class="wrapper-inputs wrapper-time form-group">
            <input name="input_onlinedate1" id="input_onlinedate1" class="form-control" value="">
            <input name="input_onlinedate2" id="input_onlinedate2" class="form-control" value="">
        </div>
        <h3>対象ツアー年月日</h3>
        <div class="wrapper-inputs wrapper-time form-group">
            <div class="form-group">
                <input name="input_performancedate1" id="input_performancedate1" class="form-control" value="">
                <input name="input_performancedate2" id="input_performancedate2" class="form-control" value="">
            </div>
        </div>
        <h3>返金状態</h3>
        <div class="wrapper-inputs wrapper-time form-group">
            <div class="form-group">
                <select class="form-control" name="refund_status">
                    <option value="">すべて</option>
                    <option value="1">未指示</option>
                    <option value="2">指示済</option>
                    <option value="3">返金完了</option>
                </select>
            </div>
        </div>
        <a class="btn btn-next" href="javascript:void(0)"><span><%- __('Button.Search') %></span></a>

    </form>
</div>

<p class="total-count"></p>

<div class="wrapper-reservations">
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>対象ツアー年月日</th>
                <th>対象ツアーNo</th>
                <th>運転状況</th>
                <th>販売停止処理日時</th>
                <th>処理実施者</th>
                <th>一般予約数</th>
                <th>来塔数</th>
                <th>返金状態</th>
                <th>返金済数</th>
                <th>返金処理</th>
            </tr>
        </thead>
        <tbody id="reservations">

        </tbody>
    </table>
</div>



<div class="wrapper-controls">

    <div class="form-inline">
        <div class="form-group">
            <select class="form-control" id="select_action" name="action">
                <option value=""><%- __('Label.Actions') %></option>
                <option value="cancel">キャンセル</option>
                <option value="print">A4チケット印刷</option>
                <option value="thermalprint">サーマルチケット印刷</option>
            </select>
        </div>
        <div class="form-group">
            <p class="btn action-to-reservations"><span><%- __('Label.Apply') %></span></p>
        </div>
    </div>

    <div class="navigation">
    </div>

</div>

<div class="modal-calender">
    <div class="modal-calender-content">
        <div id="calendercontainer"></div>
    </div>
</div>

<div id="modal_detail" class="modal modal-detail modal-cancel fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
			<div class="modal-header">
				<p class="btn-close" data-dismiss="modal"><span>×</span></p>
				<h2 class="modal-title">予約詳細</h2>
                <p id="error_cancel"></p>
			</div>
			<div class="modal-body">
                <form>
                    <h3>購入情報</h3>
                    <div>
                        <h4>購入番号</h4>
                        <p class="echo" id="echo_detailmodal__payment_no"></p>
                        <hr>

                        <h4>ご来塔ご予約日時</h4>
                        <p class="echo" id="echo_detailmodal__date"></p>
                        <hr>

                        <h4>座席 / 券種 / メモ</h4>
                        <p class="echo" id="echo_detailmodal__info"></p>
                        <hr>

                        <h4>購入場所</h4>
                        <p class="echo" id="echo_detailmodal__purchaseinfo"></p>
                        <hr>
                    </div>
                </form>
			</div>
            <div class="modal-footer">
                <div class="btns2clm">
                    <p class="btn btn-print"><span>A4チケット印刷</span></p>
                    <p class="btn btn-thermalprint"><span>入場QRサーマル印刷</span></p>
                </div>
                <p class="btn btn-cancelrsrv"><span>この予約をキャンセル</span></p>
                <p class="btn btn-close" data-dismiss="modal"><span>閉じる</span></p>
            </div>
        </div>
    </div>
</div>

<div id="modal_cancelcompleted" class="modal modal-cancel fade" tabindex="-1">
	<div class="modal-dialog">
		<div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title">チケットキャンセル完了</h2>
            </div>
			<div class="modal-body">
                <div id="echo_canceledreservations"></div>
                <p>上記チケットのキャンセル手続きが完了いたしました。</p>
			</div>
			<div class="modal-footer">
				<p class="btn btn-close" data-dismiss="modal"><span>閉じる</span></p>
			</div>
		</div>
	</div>
</div>

<div class="modal fade loading" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <div class="text-center"><%- __('Message.Searching') %></div>
            </div>
        </div>
    </div>
</div>

<input type="hidden" name="userId" value="<%- req.staffUser._id %>">
<input type="hidden" name="username" value="<%- req.staffUser.name.ja %>">
<input type="hidden" name="urlCancel" value="/staff/cancel/execute">
<input type="hidden" name="urlUpdateWatcherName" value="/staff/mypage/updateWatcherName">
<input type="hidden" name="messageAreYouSureCancel" value="<%- __('Message.AreYouSureCancel') %>">
<input type="hidden" name="messageConfirmCancelSelectedTickets" value="<%- __('Message.ConfirmCancelSelectedTickets') %>">

<script src="/js/thermalprint/StarWebPrintTrader.js"></script>
<script src="/js/thermalprint/StarWebPrintBuilder.js"></script>
<script src="/js/thermalprint/starprint.js"></script>
<script src="/js/flatpickr/flatpickr.min.js"></script>
<script src="/js/flatpickr/flatpickr.locale.ja.js"></script>
<script src="/js/suspension/list.js"></script>

