<link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.css" />
<script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.20.0/locale/ja.js"></script>
<script src="//cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.js"></script>
<script>
    window.ttts.API_SUSPENDED_ENDPOINT = '/api/performances/suspended';
    window.ttts.RefundStatus = <%- JSON.stringify(RefundStatus) %>;
</script>

<div class="wrapper-searchform">
    <form id="form_searchsuspensions" class="search-form">
        <input id="input_limit" type="hidden" name="limit" value="20">

        <div class="wrapper-inputs wrapper-date form-group">
            <h3>対象ツアー年月日</h3>
            <div class="form-group">
                <input id="input_performancedate" class="form-control" value="">
            </div>
        </div>

        <div class="wrapper-inputs wrapper-execday form-group">
            <h3>販売停止処理実行日</h3>
            <input id="input_onlinedate" class="form-control" value="">
        </div>

        <div class="wrapper-inputs wrapper-status form-group">
            <h3>返金状態</h3>
            <div class="form-group">
                <select id="select_refund_status" class="form-control" name="refund_status">
                    <option value="">すべて</option>
                    <option value="<%- RefundStatus.NotInstructed %>">未指示</option>
                    <option value="<%- RefundStatus.Instructed %>">指示済</option>
                    <option value="<%- RefundStatus.Compeleted %>">返金完了</option>
                </select>
            </div>
        </div>

        <a id="btn_execsearch" class="btn btn-next" href="javascript:void(0)"><span>検索</span></a>
        <a id="btn_clearconditions" class="btn btn-big" href="javascript:void(0)"><span>検索条件リセット</span></a>
    </form>
</div>


<div class="wrapper-reservations">
    <p id="echo_suspensiontotal" class="total-count"></p>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>対象ツアー年月日</th>
                <th>対象ツアーNo</th>
                <th>運転状況</th>
                <th>販売停止処理日時</th>
                <th>処理実施者</th>
                <th>一般予約数</th>
                <th>来塔数</th>
                <th>返金状態</th>
                <th>返金済数</th>
                <th>返金処理</th>
            </tr>
        </thead>
        <tbody id="reservations">

        </tbody>
    </table>
</div>


<div class="modal fade loading" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <div class="text-center">
                    <%- __('Processing') %>
                </div>
            </div>
        </div>
    </div>
</div>

<input type="hidden" name="userId" value="<%- req.staffUser.id %>">
<input type="hidden" name="username" value="<%- req.staffUser.name.ja %>">

<script src="/js/flatpickr/flatpickr.min.js"></script>
<script src="/js/flatpickr/flatpickr.locale.ja.js"></script>
<script src="/js/suspension/list.js"></script>
