<div class="wrapper-searchform">
    <form class="search-form" action="/api/performances/suspended">
        <input type="hidden" name="limit" value="20">
        <h3>販売停止処理日</h3>
        <div class="wrapper-inputs wrapper-time form-group">
            <input name="input_onlinedate1" id="input_onlinedate1" class="form-control" value="">
            <input name="input_onlinedate2" id="input_onlinedate2" class="form-control" value="">
        </div>
        <h3>対象ツアー年月日</h3>
        <div class="wrapper-inputs wrapper-time form-group">
            <div class="form-group">
                <input name="input_performancedate1" id="input_performancedate1" class="form-control" value="">
                <input name="input_performancedate2" id="input_performancedate2" class="form-control" value="">
            </div>
        </div>
        <h3>返金状態</h3>
        <div class="wrapper-inputs wrapper-time form-group">
            <div class="form-group">
                <select class="form-control" name="refund_status">
                    <option value="">すべて</option>
                    <option value="<%- RefundStatus.NotInstructed %>">未指示</option>
                    <option value="<%- RefundStatus.Instructed %>">指示済</option>
                    <option value="<%- RefundStatus.Compeleted %>">返金完了</option>
                </select>
            </div>
        </div>
        <a class="btn btn-next" href="javascript:void(0)">
            <span>
                <%- __('Button.Search') %>
            </span>
        </a>

    </form>
</div>

<p class="total-count"></p>

<div class="wrapper-reservations">
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>対象ツアー年月日</th>
                <th>対象ツアーNo</th>
                <th>運転状況</th>
                <th>販売停止処理日時</th>
                <th>処理実施者</th>
                <th>一般予約数</th>
                <th>来塔数</th>
                <th>返金状態</th>
                <th>返金済数</th>
                <th>返金処理</th>
            </tr>
        </thead>
        <tbody id="reservations">

        </tbody>
    </table>
</div>

<div class="modal-calender">
    <div class="modal-calender-content">
        <div id="calendercontainer"></div>
    </div>
</div>

<div class="modal fade loading" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <div class="text-center">
                    <%- __('Message.Searching') %>
                </div>
            </div>
        </div>
    </div>
</div>

<input type="hidden" name="userId" value="<%- req.staffUser.id %>">
<input type="hidden" name="username" value="<%- req.staffUser.name.ja %>">

<script src="/js/flatpickr/flatpickr.min.js"></script>
<script src="/js/flatpickr/flatpickr.locale.ja.js"></script>
<script src="/js/suspension/list.js"></script>