<input type="hidden" name="apiEndpoint" value="<%= process.env.API_ENDPOINT %>">
<input type="hidden" id="input_apiToken" value="<%= token.access_token %>">
<input type="hidden" id="input_apiTokenExpire" value="<%= token.expires_in %>">
<input type="hidden" name="urlSuspend" value="/staff/suspension/setting/execute">

<script src="/js/flatpickr/flatpickr.min.js"></script>
<script src="/js/flatpickr/flatpickr.locale.<%= locale %>.js"></script>
<script src="/js/suspension/performances.js"></script>

<h1 class="pagetitle"><%- __('h1.SelectPerformance') %></h1>
<p class="guidetext is-staff-block">対応するスケジュールを選択してください</p>

<h3><span class="redcircle">1</span><%- __('Label.PreferredDate') %></h3>
<div class="performancesearchform">
    <form>
        <div class="input-date input-group">
            <input readonly="readonly" class="form-control" id="input_performancedate" type="text">
            <input type="hidden" name="executeType" value="1">
        </div>
    </form>
</div>

<h3><span class="redcircle">2</span><%- __('Label.PreferredTime') %></h3>
<p class="icondescription"><%- __('Label.IconDescription') %>:<br class="visible-mobile-block">
    <img src="/images/common/icon-status-capable.svg" alt="capable"> … <%- __('Label.Capable') %>
    <img src="/images/common/icon-status-crowded.svg" alt="crowded"> … <%- __('Label.Crowded') %>
    <br class="mbr">
    <img src="/images/common/icon-status-last.svg" alt="last"> … <%- __('Label.Last') %>
    <img src="/images/common/icon-status-soldout.svg" alt="soldout"> … <%- __('Label.Soldout') %>
</p>

<div class="row performances">
</div>
<a class="btn btn-next call-modal" href="javascript:void(0)"><span>オンライン販売中止 / 解除</a>


<form method="post" id="form_performanceId">
    <input type="hidden" name="performanceId">
</form>

<div class="modal fade loading" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <div class="text-center"><%- __('Message.Searching') %></div>
            </div>
        </div>
    </div>
</div>

<div class="modal-calender">
    <div class="modal-calender-content">
        <div id="calendercontainer"></div>
    </div>
</div>

<div id="modal_detail" class="modal modal-detail modal-cancel fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
			<div class="modal-header">
				<p class="btn-close" data-dismiss="modal"><span>×</span></p>
				<h2 class="modal-title">オンライン販売・EV運行対応</h2>
                <p id="error_cancel"></p>
			</div>
			<div class="modal-body">
                <form>
                    <h3>オンラインチケット販売対応</h3>
                    <p>対応を選択してください。</p>
                    <div>
                        <p><input type="radio" name="online" value="1" checked>オンライン販売停止</p>
                        <p><input type="radio" name="online" value="0">オンライン販売再開</p>
                    </div>
                    <h3>エレベータ運転状況</h3>
                    <p>状況を選択してください。</p>
                    <div>
                        <p><input type="radio" name="ev" value="1" checked>減速運転</p>
                        <p><input type="radio" name="ev" value="2">運転停止</p>
                        <p><input type="radio" name="ev" value="0">運行再開</p>
                    </div>
                    <h3>お客様通知内容</h3>
                    <p>お客様に送信する通知内容を確認・編集してください。</p>
                    <div>
                        <p><textarea rows="10" name="notice" style="width:100%;"></textarea></p>
                    </div>
                </form>
			</div>
            <div class="modal-footer">
                <p class="btn btn-suspension"><span>実行</span></p>
            </div>
        </div>
    </div>
</div>
