<script>
    window.ttts.API_TOKEN = {
        VALUE: '<%= token.access_token %>',
        EXPIRES_IN: '<%= token.expires_in %>'
    };
    window.ttts.API_SUSPENSION_ENDPOINT = '/staff/suspension/setting/execute';
</script>

<script src="/js/flatpickr/flatpickr.min.js"></script>
<script src="/js/flatpickr/flatpickr.locale.<%= locale %>.js"></script>
<script src="/js/suspension/settings.js"></script>

<h1 class="pagetitle"><%- __('h1.SelectPerformance') %></h1>
<p class="guidetext is-staff-block">対応するスケジュールを選択してください</p>

<h3><span class="redcircle">1</span><%- __('Label.PreferredDate') %></h3>
<div class="performancesearchform">
    <form>
        <div class="input-date input-group">
            <input readonly="readonly" class="form-control" id="input_performancedate" type="text">
            <input type="hidden" name="executeType" value="1">
        </div>
    </form>
</div>

<div class="row performances">
</div>

<div class="btns2clm">
    <a class="btn btn-big" id="btn_callmodal_resume" href="javascript:void(0)"><span>オンライン販売再開</a>
    <a class="btn btn-big" id="btn_callmodal_suspend" href="javascript:void(0)"><span>オンライン販売中止</a>
</div>

<form method="post" id="form_performanceId">
    <input type="hidden" name="performanceId">
</form>

<div class="modal fade loading" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <div class="text-center"><%- __('Message.Searching') %></div>
            </div>
        </div>
    </div>
</div>

<div class="modal-calender">
    <div class="modal-calender-content">
        <div id="calendercontainer"></div>
    </div>
</div>

<div id="modal_suspension" class="modal modal-suspension modal-cancel fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
			<div class="modal-header">
				<p class="btn-close" data-dismiss="modal"><span>×</span></p>
				<h2 class="modal-title">オンライン販売・EV運行対応</h2>
                <p>エレベーター運行状況を選択して実行ボタンを押してください。</p>
			</div>
			<div class="modal-body">
                <form>
                    <h3>エレベータ運転状況</h3>
                    <div>
                        <p>状況を選択してください。</p>
                        <label class="for-suspend"><input class="radio-ev" type="radio" id="radio_ev_slow" name="ev" value="1" checked>減速運転</label>
                        <label class="for-suspend"><input class="radio-ev" type="radio" id="radio_ev_stop" name="ev" value="2">運転停止</label>
                        <label class="for-resume"><input class="radio-ev" type="radio" id="radio_ev_restart" name="ev" value="0">運行再開</label>
                    </div>
                    <div class="for-suspend for-evstop">
                        <h3>お客様通知内容</h3>
                        <p>お客様に送信する通知内容を確認・編集してください。</p>
                        <textarea id="textarea_announcemail" rows="10" placeholder="運転停止の通知テキスト(日・英を併記)"></textarea>
                    </div>
                </form>
			</div>
            <div class="modal-footer">
                <p class="btn btn-big" id="btn_exec"><span></span></p>
            </div>
        </div>
    </div>
</div>
