<%
var tourNumber = '';
const performance = tempReservationModel.performance;
if (Array.isArray(performance.additionalProperty)) {
    const tourNumberProperty = performance.additionalProperty.find((p) => p.name === 'tourNumber');
    if (tourNumberProperty !== undefined) {
        tourNumber = tourNumberProperty.value;
    }
}
%>

<div class="reservationstatus row">
    <h2 class="accordion_mobile_toggle"><%- __('PurchaseContent') %></h2>
    <div class="reservationstatus-inner accordion_mobile_inner">
        <p class="reservationstatus-title"><%- __('PurchaseContentDate') %></p>
        <div class="reservationstatus-info">
            <%= moment(tempReservationModel.performance.startDate).tz('Asia/Tokyo').format('LL') %><br>
            <%= `${moment(tempReservationModel.performance.startDate).tz('Asia/Tokyo').format('HH:mm')} - ${moment(tempReservationModel.performance.endDate).tz('Asia/Tokyo').format('HH:mm')}` %>
            <span class="is-not-ja">(JST)</span>
        </div>
        <p class="reservationstatus-title"><%- __('TourNumber') %></p>
        <div class="reservationstatus-info">
            <%- tourNumber %>
        </div>
    </div>
</div>