<script src="/js/reserve/complete.js"></script>

<%- include('./_step', {currentStepName: 'complete'}) %>

<h1 class="pagetitle"><%- __('ReservationCompleted') %></h1>
<p class="guidetext guidetext-customer"><%- __('CompleteReservationGuideText') %></p>
<p class="rednotice qrnotice"><%- __('CompleteReservationNoticeText') %></p>
<% if (reservations[0].purchaser_group === 'Staff') { %>
<p class="guidetext">代理予約が完了いたしました。<br>「印刷」ボタンを押してチケットを発見してください。</p>
<% } %>

<table class="table table-complete">
    <tbody>
        <tr class="tr-number">
            <th><%- __('PaymentNo') %></th>
            <td>
                <span class="rsrvno"><%- reservations[0].payment_no %></span>
                <p class="numbernotice"><%- __('TransactionNumberNotice') %></p>
            </td>
        </tr>
        <tr class="tr-date">
            <th><%- __('PurchaseContentDate') %></th>
            <td>
                <%- `${moment(reservations[0].performance_day, 'YYYYMMDD').format('LL')}&nbsp;&nbsp;${moment(reservations[0].performance_start_time, 'hmm').format('HH:mm')} - ${moment(reservations[0].performance_end_time, 'hmm').format('HH:mm')} <span class="is-not-ja">(JST)</span>` %>
            </td>
        </tr>
        <tr class="tr-tourno">
            <th><%- __('TourNumber') %></th>
            <td>
                <p>
                    <%- reservations[0].performance_ttts_extension.tour_number %> 
                </p>
            </td>
        </tr>
        <tr class="tr-qr">
            <th><%- __('QRCode') %></th>
            <td>
                <% reservations.forEach((reservation, index) => { %>
                <div class="wrapper-qrcodes">
                    <div>
                        <p>
                            <img class="codeimg-barcode" src="//chart.apis.google.com/chart?chs=150x150&cht=qr&chl=<%= reservation.qr_str %>" alt="">
                        </p>
                        <p>
                            <%- reservation.ticket_type_name[locale] || reservation.ticket_type_name.en %> <%- __('{{price}} yen', { price: reservation.ticket_type_charge } ) %><br>
                            <%- `${__('EmailReserveDate')}: ${moment(`${reservations[0].performance_day}${reservations[0].performance_start_time}`, 'YYYYMMDDHHmm').format('LLL')}` %><br>
                            <%- `${__('TourNumber')}: ${reservation.performance_ttts_extension.tour_number}` %><br>
                            <%- reservation.seat_code %><br>
                        </p>
                    </div>
                </div>
                <% }) %>
            </td>
        </tr>
        <tr class="tr-email">
            <th><%= __('Email') %></th>
            <td>
                <%= reservations[0].purchaser_email %>
            </td>
        </tr>
        <tr class="tr-price">
            <th><%- __('TotalPrice') %></th>
            <td>
                <% var totalAmount = reservations.reduce((a,b)=>a+b.charge,0); %>
                <span class="price"><%- __('{{price}} yen', { price: totalAmount } ) %></span>
            </td>
        </tr>
    </tbody>
</table>


<a class="btn btn-blue visible-pc" id="btn_print_a4" target="_blank" href='<%- process.env.RESERVATIONS_PRINT_URL %>?output=a4&token=<%= printToken %>'><span><%- __('PrintTicket') %></span></a>

<% if (reservations[0].purchaser_group === 'Staff') { %>
<div class="thermalprint">
    <a class="btn btn-big btn-thermalprint" id="btn_thermalprint" target="_blank" href='<%- process.env.RESERVATIONS_PRINT_URL %>?output=thermal&token=<%= printToken %>'><span>サーマル印刷</span></a>
</div>
<% } %>


<p class="mailnotice"><%- __('CompleteNotesText') %></p>

<div class="enteringguide">
    <h3><%- __('HowToEnter') %></h3>
    <p><%- __('AboutEntryDescription') %></p>
    <a class="btn btn-blue btn-entering" href="/aboutenter" target="_blank"><span><%- __('AboutHowToEnter') %></span></a>
</div>
