<%- include('./_step') %>

<h1 class="pagetitle"><%- __('h1.EnterPayment') %></h1>

<p class="guidetext"><%= (reservationModel.purchaserGroup === ReservationUtil.PURCHASER_GROUP_WINDOW) ? __('Label.EnterProfileGuideTextWindow') : __('Label.EnterProfileGuideText') %></p>

<div class="wrapper-2clm">

    <div class="clm-left">

        <form method="post">

            <table class="table table-profile">

                <tbody>

                    

                    <tr>
                        <th><label for="cardNumber"><%- __('Form.FieldName.cardNumber') %></label><span class="required"><%- __('Label.Required') %></span></th>
                        <td>
                            <input type="text" name="cardNumber" id="cardNumber" class="form-control" value="" maxlength="16">
                            <p class="notice">※<%- __('Message.cardNumber') %></p>
                            <% if (validation && validation.cardNumber) { %>
                            <p class="errmsg"><%- validation.cardNumber.msg %></p>
                            <% } %>
                        </td>
                    </tr>

                    <tr>
                        <th><label for="expire"><%- __('Form.FieldName.expire') %></label><span class="required"><%- __('Label.Required') %></span></th>
                        <td>
                            <select name="cardExpirationMonth" id="cardExpirationMonth">
                                <%
                                for (let i = 0; i < 12; i++) {
                                    let num = i + 1;
                                    let month = (num < 10) ? '0' + String(num) : String(num);
                                %>
                                    <option value="<%= month %>"><%= month %></option>
                                <% } %>
                            </select> <%- __('Form.FieldName.cardExpirationMonth') %> 
                            <select name="cardExpirationYear" id="cardExpirationYear">
                                <%
                                let choices = {};
                                let year2digits = moment().format('YY');
                                for (let i = 0; i < 10; i++) {
                                    let key = (parseInt(year2digits) + i).toString();
                                    choices[key] = `20${key}`;
                                }
                                %>
                                <% for (let key in choices) { %>
                                <option value="20<%- key %>"><%- choices[key] %></option>
                                <% } %>
                            </select> <%- __('Form.FieldName.cardExpirationYear') %>
                            <input type="hidden" name="expire" id="expire" value="">
                            <% if (validation && validation.expire) { %>
                            <div class="validation-text expire"><%= validation.expire.msg %></div>
                            <% } %>
                        </td>
                    </tr>

                    <tr>
                        <th><label for="securitycode"><%- __('Form.FieldName.securitycode') %></label><span class="required"><%- __('Label.Required') %></span></th>
                        <td>
                            <input type="text" name="securitycode" id="securitycode" class="form-control" value="" maxlength="4">
                            <p class="notice">※<%- __('Message.securitycode') %></p>
                            <% if (validation && validation.securitycode) { %>
                            <p class="errmsg"><%- validation.securitycode.msg %></p>
                            <% } %>
                        </td>
                    </tr>

                    <tr>
                        <th><label for="holdername"><%- __('Form.FieldName.holdername') %></label><span class="required"><%- __('Label.Required') %></span></th>
                        <td>
                            <input type="text" name="holdername" id="holdername" class="form-control" value="">
                            <% if (validation && validation.holdername) { %>
                            <p class="errmsg"><%- validation.holdername.msg %></p>
                            <% } %>
                        </td>
                    </tr>

                </tbody>

            </table>
            <input type="hidden" name="gmoTokenObject" value="">
        </form>

    </div>

    <div class="clm-right">
        <%- include('./_reservationModel') %>
    </div>

</div>


<script src="<%= GMO_ENDPOINT %>/ext/js/token.js"></script>
<script>Multipayment.init('<%= GMO_SHOP_ID %>');</script>
<script src="/js/payment.js"></script>

