<input type="hidden" name="apiEndpoint" value="<%= process.env.API_ENDPOINT %>">

<script src="/js/flatpickr/flatpickr.min.js"></script>
<script src="/js/flatpickr/flatpickr.locale.<%= locale %>.js"></script>
<script src="/js/reserve/performances.js"></script>

<%- include('./_step', {currentStepName: 'performances'}) %>

<h1 class="pagetitle"><%- __('h1.SelectPerformance') %></h1>
<p class="guidetext"><%- __('Label.SelectPerformanceGuideText') %></p>


<h3><span class="redcircle">1</span>希望日選択</h3>
<div class="performancesearchform">
    <form>
        <div class="input-date input-group">
            <input readonly="readonly" class="form-control" id="input_performancedate" type="text">
        </div>
    </form>
</div>


<h3><span class="redcircle">2</span>希望時間選択</h3>
<p class="icondescription">アイコンの説明:<br class="visible-mobile-block">
    <img src="/images/common/icon-status-capable.svg" alt="capable"> … 余裕あり
    <img src="/images/common/icon-status-crowded.svg" alt="crowded"> … 残りわずか
    <br class="mbr">
    <img src="/images/common/icon-status-last.svg" alt="last"> … 残り受付数
    <img src="/images/common/icon-status-soldout.svg" alt="soldout"> … 受付終了
</p>

<div class="row performances">
</div>


<form method="post" id="form_performanceId">
    <input type="hidden" name="performanceId">
</form>

<div class="modal fade loading" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <div class="text-center"><%- __('Message.Searching') %></div>
            </div>
        </div>
    </div>
</div>

<div class="modal-calender">
    <div class="modal-calender-content">
        <div id="calendercontainer"></div>
    </div>
</div>
