<input type="hidden" name="apiEndpoint" value="<%= process.env.API_ENDPOINT %>">
<input type="hidden" id="input_apiToken" value="<%= token.access_token %>">
<input type="hidden" id="input_apiTokenExpire" value="<%= token.expires_in %>">

<script src="/js/flatpickr/flatpickr.min.js"></script>
<script src="/js/flatpickr/flatpickr.locale.<%= locale %>.js"></script>
<script src="/js/reserve/performances.js"></script>

<%- include('./_step', {currentStepName: 'performances'}) %>

<h1 class="pagetitle"><%- __('h1.SelectPerformance') %></h1>
<p class="guidetext is-customer"><%- __('Label.SelectPerformanceGuideText') %></p>
<p class="guidetext is-staff">代理予約を行う日時を指定してください</p>


<h3><span class="redcircle">1</span><%- __('Label.PreferredDate') %></h3>
<div class="performancesearchform">
    <form>
        <div class="input-date input-group">
            <input readonly="readonly" class="form-control" id="input_performancedate" type="text">
        </div>
    </form>
</div>


<h3><span class="redcircle">2</span><%- __('Label.PreferredTime') %></h3>
<p class="icondescription"><%- __('Label.IconDescription') %>:<br class="visible-mobile-block">
    <img src="/images/common/icon-status-capable.svg" alt="capable"> … <%- __('Label.Capable') %>
    <img src="/images/common/icon-status-crowded.svg" alt="crowded"> … <%- __('Label.Crowded') %>
    <br class="mbr">
    <img src="/images/common/icon-status-last.svg" alt="last"> … <%- __('Label.Last') %>
    <img src="/images/common/icon-status-soldout.svg" alt="soldout"> … <%- __('Label.Soldout') %>
</p>

<div class="row performances">
</div>


<form method="post" id="form_performanceId">
    <input type="hidden" name="performanceId">
</form>

<div class="modal fade loading" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <div class="text-center"><%- __('Message.Searching') %></div>
            </div>
        </div>
    </div>
</div>

<div class="modal-calender">
    <div class="modal-calender-content">
        <div id="calendercontainer"></div>
    </div>
</div>
