<%
    const cate = (typeof category === 'string') ? category : 'general';
    const isStaff = /staff/.test(req.baseUrl);
    const isWheelchair = (cate === 'wheelchair');
%>
<script>
    window.ttts.API_TOKEN = {
        VALUE: '<%= token.access_token %>',
        EXPIRY_DATE: '<%= token.expiry_date %>'
    };
    window.ttts.isWheelchairReservation = <%= isWheelchair %>;
    window.ttts.reservableMaxDate = '<%= reserveMaxDate %>';
    window.ttts.reserveStartDate = '<%= reserveStartDate %>';
</script>
<script src="/js/flatpickr/flatpickr.min.js"></script>
<script src="/js/flatpickr/flatpickr.locale.<%= locale %>.js"></script>
<script src="/js/reserve/performances.js"></script>

<%- include('./_step', {currentStepName: 'performances'}) %>

<h1 class="pagetitle"><%- (isWheelchair) ? `<span class="is-wheelchair">${__('ForWCReserveTitle')}</span>` : '' %><%- __('SelectPerformance') %></h1>

<p class="guidetext is-customer"><%- __('SelectPerformanceGuideText') %></p>

<% if (isStaff) { %><p class="guidetext is-staff-block">代理予約を行う日時を指定してください</p><% } %>

<% if (!isStaff && !isWheelchair) { %><p class="guidetext guidetext-topdeck"><%- __('AboutTour') %></p><% } %>

<p class="guidetext guidetext-reservation is-customer"><%- (isWheelchair) ? __('LinkContainedWheelChairGuideMessage') : __('LinkContainedPerformanceMessage') %></p>

<h3>
    <span class="redcircle">1</span><%- __('PreferredDateSelect') %>
    <span class="daynotice">
        <%- (!isStaff) ? __('ReservableMaxDate{{ymd}}', { ymd: moment(reserveMaxDate, 'YYYY/MM/DD').format('LL') }) : __('ReservableMaxDateStaff{{ymd}}', { ymd: moment(reserveMaxDate, 'YYYY/MM/DD').format('LL') }) %>
    </span>
</h3>
<div class="performancesearchform">
    <form>
        <div class="input-date input-group">
            <input readonly="readonly" class="form-control" id="input_performancedate" type="text">
        </div>
    </form>
</div>


<h3><span class="redcircle">2</span><%- __('PreferredTimeSelect') %></h3>
<div class="icondescription"><%- __('PerformanceIconDescription') %>:<br>
    <p><img src="/images/common/icon-status-capable.svg" alt="capable"> … <%- __('StatusCapable') %></p>
    <p><img src="/images/common/icon-status-crowded.svg" alt="crowded"> … <%- __('StatusCrowded') %></p>
    <br class="mbr">
    <p><img src="/images/common/icon-status-last.svg" alt="last"> … <%- __('StatusLast') %></p>
    <p><img src="/images/common/icon-status-soldout_d.svg" alt="soldout"> … <%- __('StatusSoldout') %></p>
    <br class="mbr">
    <p><img src="/images/common/icon-status-unavailable_d.svg" alt="unavailable"> … <%- __('StatusOnlineSalesSuspended') %></p>
</div>

<div class="row performances">
</div>


<form method="post" id="form_performanceId">
    <input type="hidden" name="performanceId">
    <input type="hidden" name="category" value="<%= cate %>">
</form>

<div class="modal fade loading" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" data-backdrop="static">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <div class="text-center"><%- __('Processing') %></div>
            </div>
        </div>
    </div>
</div>

<div class="modal-calender">
    <div class="modal-calender-content">
        <div id="calendercontainer"></div>
    </div>
</div>
