<%- include('./_step', {currentStepName: 'profile'}) %>


<h1 class="pagetitle"><%- __('h1.EnterProfile') %></h1>

<p class="guidetext"><%= __('Label.EnterProfileGuideText') %></p>

<form id="form_profile" method="post">
    <table class="table table-profile table-profile-staff">
        <tbody>
            <% /*ご利用金額*/ %>
            <tr class="tr-price">
                <th><label><%- __('Label.TotalPrice') %></label></th>
                <td>
                    <p><span class="price">&yen;<%- numeral(reservationModel.getTotalCharge()).format('0,0') %></span></p>
                </td>
            </tr>
            <% /*決済手段*/ %>
            <tr class="tr-payment">
                <th><%- __('Form.FieldName.paymentMethod') %><span class="required">*<%- __('Label.Required') %></span></th>
                <td>
                    <div class="wrapper-payment form-inline">
                        <% Object.keys(conf.get('paymentMethodsForStaff')).forEach((methodCode) => { %>
                            <label for="radio_payment_method<%- methodCode %>" class="form-group payment">
                                <input type="radio" id="radio_payment_method<%- methodCode %>" name="paymentMethod" class="form-control" value="<%- methodCode %>"<% if (paymentMethod === methodCode ) { %> checked="checked"<% } %>>
                                <%- __(`Label.PaymentMethodName.${methodCode}`) %>
                                <div class="checkedbg"></div>
                            </label>
                        <% }) %>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</form>

<div class="modal fade" id="modal_cardsecurirycode" tabindex="-1">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<p class="btn-close" data-dismiss="modal"><span>×</span></p>
				<h2 class="modal-title">セキュリティコードについて</h2>
				<p class="guidetext">※カード会社により表示箇所および名称が異なります。</p>
                <p name="error-message"></p>
			</div>
			<div class="modal-body">
                <h3>VISA / MASTER / DINERS / JCB の場合</h3>
                <p>【カード裏面】セキュリティコード(末尾3桁)</p>
                <figure><img src="/images/common/figure_securitycode_common.png" alt="VISA / MASTER / DINERS / JCB の場合はカード裏面の末尾3桁"></figure>
                <h3>AMEXの場合</h3>
                <p>【カード表面】セキュリティコード(4桁)</p>
                <figure><img src="/images/common/figure_securitycode_amex.png" alt="AMEXの場合はカード表面の4桁"></figure>
			</div>
            <div class="modal-footer">
				<p class="btn btn-close" data-dismiss="modal"><span><%- __('Button.Close') %></span></p>
            </div>
		</div>
	</div>
</div>
<script>
    $('#modalbtn_cardsecurirycode').click(function() {
        $('#modal_cardsecurirycode').modal();
    });
</script>

<script src="<%= GMO_ENDPOINT %>/ext/js/token.js"></script>
<script>Multipayment.init('<%= GMO_SHOP_ID %>');</script>
<script src="/js/profile.js"></script>
