<%- include('./_step', {currentStepName: 'profile'}) %>

<% console.log(reservationModel); %>

<h1 class="pagetitle"><%- __('h1.EnterProfile') %></h1>

<p class="guidetext"><%= __('Label.EnterProfileGuideText') %></p>

<form id="form_profile" method="post">

<% if (reservationModel.purchaserGroup === ReservationUtil.PURCHASER_GROUP_STAFF) {
    // 代理予約
%>

    <table class="table table-profile">
        <tbody>
            <% /*ご利用金額*/ %>
            <tr class="tr-price">
                <th><label><%- __('Label.TotalPrice') %></label></th>
                <td>
                    <p><span class="price">&yen;<%- numeral(reservationModel.getTotalCharge()).format('0,0') %></span></p>
                </td>
            </tr>
            <% /*決済手段*/ %>
            <tr class="tr-payment">
                <th><%- __('Form.FieldName.paymentMethod') %><span class="required">*</span></th>
                <td>
                    <div class="wrapper-payment form-inline">
                        <label for="radio_payment_method0" class="form-group payment">
                            <input type="radio" id="radio_payment_method0" name="paymentMethod" class="form-control" value="F"<% if (!paymentMethod !== 'I') { %> checked="checked"<% } %>>
                            <%- __('Label.PaymentMethodName.FREE') %>
                            <div class="checkedbg"></div>
                        </label>
                        <label for="radio_payment_method1" class="form-group payment">
                            <input type="radio" id="radio_payment_method1" name="paymentMethod" class="form-control" value="I"<% if (!paymentMethod === 'I') { %> checked="checked"<% } %>>
                            <%- __('Label.PaymentMethodName.INVOICE') %>
                            <div class="checkedbg"></div>
                        </label>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>

<% } else {
    // 一般予約    
%>

    <table class="table table-profile">
        <tbody>
            <tr class="tr-name">
                <th><%- __('Form.FieldName.name') %><span class="required">*</span></th>
                <td>
                    <div class="wrapper-names">
                        <div class="wrapper-nameinput">
                            <label for="id_lastName"><%- __('Form.FieldName.lastName') %></label>
                            <input type="text" name="lastName" id="id_lastName" class="form-control" value="<%= lastName %>">
                        </div>
                        <div class="wrapper-nameinput">
                            <label for="id_firstName"><%- __('Form.FieldName.firstName') %></label>
                            <input type="text" name="firstName" id="id_firstName" class="form-control" value="<%= firstName %>">
                        </div>
                    </div>
                    <p class="notice">※<%- __('Message.EnterInFullWidthKatakana') %></p>
                    <% if (validation && validation.lastName) { %>
                    <p class="errmsg"><%- validation.lastName.msg %></p>
                    <% } %>
                    <% if (validation && validation.firstName) { %>
                    <p class="errmsg"><%- validation.firstName.msg %></p>
                    <% } %>
                </td>
            </tr>

            <tr class="tr-email">
                <th><%- __('Form.FieldName.email') %><span class="required">*</span></th>
                <td>
                    <input type="text" name="email" id="id_email" class="form-control" value="<%= email %>">
                    <p class="notice">※<%- __('Message.RetypeToConfirm') %></p>
                    <div class="wrapper-emailconfirm">
                        <input type="text" name="emailConfirm" id="id_emailConfirm" class="form-control" value="<%= emailConfirm %>">
                        <span>@</span>
                        <input type="text" name="emailConfirmDomain" id="id_emailConfirmDomain" class="form-control" value="<%= emailConfirmDomain %>">
                    </div>
                    <p class="notice"><%- __('Message.SettingForLimitingEmailReception') %></p>
                    <% if (validation && validation.email) { %>
                    <p class="errmsg"><%- validation.email.msg %></p>
                    <% } %>
                    <% if (validation && validation.emailConfirm) { %>
                    <p class="errmsg"><%- validation.emailConfirm.msg %></p>
                    <% } %>
                    <% if (validation && validation.emailConfirmDomain) { %>
                    <p class="errmsg"><%- validation.emailConfirmDomain.msg %></p>
                    <% } %>
                </td>
            </tr>

            <tr>
                <th><label for="id_tel"><%- __('Form.FieldName.tel') %></label><span class="required">*</span></th>
                <td>
                    <input type="text" name="tel" id="id_tel" class="form-control" value="<%= tel %>">
                    <p class="notice">※<%- __('Message.UseHalfWidthAlphanumericWithoutHyphens') %></p>
                    <% if (validation && validation.tel) { %>
                    <p class="errmsg"><%- validation.tel.msg %></p>
                    <% } %>
                </td>
            </tr>

            <tr class="tr-id_gender">
                <th><label for="id_gender"><%- __('Form.FieldName.gender') %></label></th>
                <td>
                    <%
                    let genderChoices = [
                        {code: '', name: {ja: __('Label.NotSelected'), en:__('Label.NotSelected')}},
                        {code: '1', name: {ja: __('Label.Male'), en: __('Label.Male')}},
                        {code: '2', name: {ja: __('Label.Female'), en: __('Label.Female')}},
                    ];
                    %>
                    <select class="form-control" name="gender">
                        <option value="">---</option>
                        <% for (let choice of genderChoices) { %>
                        <option value="<%= choice.code %>"<% if (age === choice.code) { %> selected="selected"<% } %>><%- choice.name[locale] || choice.name.en %></option>
                        <% } %>
                    </select>
                </td>
            </tr>

            <tr class="tr-id_age">
                <th><label for="id_age"><%- __('Form.FieldName.age') %></label></th>
                <td>
                    <%
                    let ageChoices = [
                        {code: '00', name: '~10'},
                        {code: '10', name: '10～14'},
                        {code: '15', name: '15～19'},
                        {code: '20', name: '20～24'},
                        {code: '25', name: '25～29'},
                        {code: '30', name: '30～34'},
                        {code: '35', name: '35～39'},
                        {code: '40', name: '40～44'},
                        {code: '45', name: '45～49'},
                        {code: '50', name: '50～54'},
                        {code: '55', name: '55～59'},
                        {code: '60', name: '60～64'},
                        {code: '65', name: '65～69'},
                        {code: '70', name: '70～74'},
                        {code: '75', name: '75～79'},
                        {code: '80', name: '80~'}
                    ];
                    %>
                    <select class="form-control" name="age">
                        <option value="">---</option>
                        <% for (let choice of ageChoices) { %>
                        <option value="<%= choice.code %>"<% if (age === choice.code) { %> selected="selected"<% } %>><%- choice.name %></option>
                        <% } %>
                    </select>
                </td>
            </tr>

            <tr class="tr-id_address">
                <th><label for="id_address"><%- __('Form.FieldName.address') %></label></th>
                <td>
                    <select class="form-control" name="address">
                        <option value="">---</option>
                        <%- include('./_countrySelectOptions.ejs', {selected: address || ''}) %>
                    </select>
                </td>
            </tr>

            <tr class="tr-price">
                <th><label><%- __('Label.TotalPrice') %></label></th>
                <td>
                    <p><span class="price">&yen;<%- numeral(reservationModel.getTotalCharge()).format('0,0') %></span></p>
                </td>
            </tr>

            <tr class="tr-cardNumber">
                <th><label for="cardNumber"><%- __('Form.FieldName.cardNumber') %></label><span class="required">*</span></th>
                <td>
                    <input type="text" name="cardNumber" id="cardNumber" class="form-control" value="" maxlength="16">
                    <% if (validation && validation.cardNumber) { %>
                    <p class="errmsg"><%- validation.cardNumber.msg %></p>
                    <% } %>
                    <p><img src="/images/common/available_credit_cards.png" alt="available credit cards"></p>
                    <p>VISA、Master、JCB、AMEX、DINERS をご利用いただけます。</p>
                    <p class="notice"><%- __('Message.cardNumber') %></p>
                </td>
            </tr>

            <tr class="tr-holdername">
                <th><label for="holdername"><%- __('Form.FieldName.holdername') %></label><span class="required">*</span></th>
                <td>
                    <input type="text" name="holdername" id="holdername" class="form-control" value="">
                    <% if (validation && validation.holdername) { %>
                    <p class="errmsg"><%- validation.holdername.msg %></p>
                    <% } %>
                </td>
            </tr>

            <tr class="tr-expiry">
                <th><label for="expire"><%- __('Form.FieldName.expire') %></label><span class="required">*</span></th>
                <td>
                    <select name="cardExpirationMonth" id="cardExpirationMonth" class="form-control">
                        <%
                        for (let i = 0; i < 12; i++) {
                            let num = i + 1;
                            let month = (num < 10) ? '0' + String(num) : String(num);
                        %>
                            <option value="<%= month %>"><%= month %></option>
                        <% } %>
                    </select> <%- __('Form.FieldName.cardExpirationMonth') %> 
                    <select name="cardExpirationYear" id="cardExpirationYear" class="form-control">
                        <%
                        let choices = {};
                        let year2digits = moment().format('YY');
                        for (let i = 0; i < 10; i++) {
                            let key = (parseInt(year2digits) + i).toString();
                            choices[key] = `20${key}`;
                        }
                        %>
                        <% for (let key in choices) { %>
                        <option value="20<%- key %>"><%- choices[key] %></option>
                        <% } %>
                    </select> <%- __('Form.FieldName.cardExpirationYear') %>
                    <input type="hidden" name="expire" id="expire" value="">
                    <% if (validation && validation.expire) { %>
                    <div class="validation-text expire"><%= validation.expire.msg %></div>
                    <% } %>
                </td>
            </tr>

            <tr class="tr-securitycode">
                <th><label for="securitycode"><%- __('Form.FieldName.securitycode') %></label><span class="required">*</span></th>
                <td>
                    <input type="text" name="securitycode" id="securitycode" class="form-control" value="" maxlength="4">
                    <p class="btn-securitycode" id="modalbtn_cardsecurirycode"><%- __('Message.securitycode') %></p>
                    <% if (validation && validation.securitycode) { %>
                    <p class="errmsg"><%- validation.securitycode.msg %></p>
                    <% } %>
                </td>
            </tr>
        </tbody>

    </table>
    <input type="hidden" name="gmoTokenObject" value="">
    <input style="display:none;" type="radio" name="paymentMethod" value="0" checked="checked">
<% } %>
</form>

<div class="modal fade" id="modal_cardsecurirycode" tabindex="-1">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<p class="btn-close" data-dismiss="modal"><span>×</span></p>
				<h2 class="modal-title">セキュリティコードについて</h2>
				<p class="guidetext">※カード会社により表示箇所および名称が異なります。</p>
                <p name="error-message"></p>
			</div>
			<div class="modal-body">
                <h3>VISA / MASTER / DINERS / JCB の場合</h3>
                <p>【カード裏面】セキュリティコード(末尾3桁)</p>
                <figure><img src="/images/common/figure_securitycode_common.png" alt="VISA / MASTER / DINERS / JCB の場合はカード裏面の末尾3桁"></figure>
                <h3>AMEXの場合</h3>
                <p>【カード表面】セキュリティコード(4桁)</p>
                <figure><img src="/images/common/figure_securitycode_amex.png" alt="AMEXの場合はカード表面の4桁"></figure>
			</div>
		</div>
	</div>
</div>
<script>
    $('#modalbtn_cardsecurirycode').click(function() {
        $('#modal_cardsecurirycode').modal();
    });
</script>

<script src="<%= GMO_ENDPOINT %>/ext/js/token.js"></script>
<script>Multipayment.init('<%= GMO_SHOP_ID %>');</script>
<script src="/js/profile.js"></script>
