<%- include('./_step', {currentStepName: 'profile'}) %>


<h1 class="pagetitle"><%- __('h1.EnterProfile') %></h1>

<p class="guidetext"><%= __('Label.EnterProfileGuideText') %></p>

<form id="form_profile" method="post">

<% if (reservationModel.purchaserGroup === ReservationUtil.PURCHASER_GROUP_STAFF) {
    // 代理予約
%>

    <table class="table table-profile table-profile-staff">
        <tbody>
            <% /*ご利用金額*/ %>
            <tr class="tr-price">
                <th><label><%- __('Label.TotalPrice') %></label></th>
                <td>
                    <p><span class="price">&yen;<%- numeral(reservationModel.getTotalCharge()).format('0,0') %></span></p>
                </td>
            </tr>
            <% /*決済手段*/ %>
            <tr class="tr-payment">
                <th><%- __('Form.FieldName.paymentMethod') %><span class="required">*</span></th>
                <td>
                    <div class="wrapper-payment form-inline">
                        <% Object.keys(conf.get('paymentMethodsForStaff')).forEach((methodCode) => { %>
                            <label for="radio_payment_method<%- methodCode %>" class="form-group payment">
                                <input type="radio" id="radio_payment_method<%- methodCode %>" name="paymentMethod" class="form-control" value="<%- methodCode %>"<% if (paymentMethod === methodCode ) { %> checked="checked"<% } %>>
                                <%- __(`Label.PaymentMethodName.${methodCode}`) %>
                                <div class="checkedbg"></div>
                            </label>
                        <% }) %>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>

<% } else {
    /* 一般予約
      CHEVREの仕様 = submit時にコントローラがバリデーションを行い、エラーがあったら翻訳済みエラーメッセージが validation に入って返ってくる
      (ここでのサーバ側のバリデーターは app/forms/reserve/reserveProfileForm )
      TTTSの仕様としてそれとは別に画面側でもバリデーションを行う。
      →翻訳がサーバーでしかできない仕様なので置換用の文字列を埋め込んでおいて使いまわす。
    */

    // 言語に合わせて国選択の表示順位を変更
    let preferred_countries = conf.get('preferred_countries_by_locale') || {};
    preferred_countries = (preferred_countries[locale]) ? JSON.stringify(preferred_countries[locale]) : '';
%>
    <input type="hidden" id="locale_errmsg_empty" value="<%-__('Message.required{{fieldName}}', { fieldName: '{{fieldName}}' }) %>">
    <input type="hidden" id="locale_errmsg_invalid" value="<%-__('Message.invalid{{fieldName}}', { fieldName: '{{fieldName}}' }) %>">
    <input type="hidden" id="locale_errmsg_maxLength" value="<%-__('Message.maxLength{{fieldName}}{{max}}', { fieldName: '{{fieldName}}', max: '{{max}}' }) %>">
    <input type="hidden" id="locale_errmsg_cardtoken" value="<%- __('Message.cardTokenError') %>">
    <input type="hidden" id="preferred_countries" value='<%- preferred_countries %>'>
    <input type="hidden" id="local_address" value='<%- address %>'>
    <input type="hidden" id="local_tel" value='<%- tel %>'>

    <table class="table table-profile table-profile-customer">
        <tbody>
            <tr class="tr-name">
                <th><%- __('Form.FieldName.name') %><span class="required">*</span></th>
                <td>
                    <div class="wrapper-names">
                        <div class="wrapper-nameinput wrapper-nameinput-lastname">
                            <label for="id_lastName"><%- __('Form.FieldName.lastName') %></label>
                            <input type="text" name="lastName" id="id_lastName" class="form-control input-required" data-pattern="^[ァ-ロワヲンーa-zA-Z・\.\s　]*$" data-parentSelector=".wrapper-nameinput-lastname" data-fieldname="<%- __('Form.FieldName.lastName') %>" value="<%= lastName %>" required>
                        </div>
                        <div class="wrapper-nameinput wrapper-nameinput-firstname">
                            <label for="id_firstName"><%- __('Form.FieldName.firstName') %></label>
                            <input type="text" name="firstName" id="id_firstName" class="form-control input-required" data-pattern="^[ァ-ロワヲンーa-zA-Z・\.\s　]*$" data-parentSelector=".wrapper-nameinput-firstname" data-fieldname="<%- __('Form.FieldName.firstName') %>" value="<%= firstName %>" required>
                        </div>
                    </div>
                    <p class="notice">※<%- __('Message.EnterInFullWidthKatakana') %></p>
                    <p class="errmsg errmsg-lastName"><%- (validation && validation.lastName) ? validation.lastName.msg : '' %></p>
                    <p class="errmsg errmsg-firstName"><%- (validation && validation.firstName) ? validation.firstName.msg : '' %></p>
                </td>
            </tr>

            <tr class="tr-email">
                <th><%- __('Form.FieldName.email') %><span class="required">*</span></th>
                <td>
                    <div class="wrapper-emailinput">
                        <input type="text" name="email" id="id_email" class="form-control input-required" data-pattern="^[a-zA-Z0-9@\.!#$%&'*+/=?^_`{|}~-]*$" data-parentSelector=".wrapper-emailinput" data-fieldname="<%- __('Form.FieldName.email') %>" value="<%= email %>">
                    </div>
                    <p class="notice">※<%- __('Message.RetypeToConfirm') %></p>
                    <div class="wrapper-emailconfirm">
                        <input type="text" name="emailConfirm" id="id_emailConfirm" class="form-control input-emailconfirm" value="<%= emailConfirm %>">
                        <span>@</span>
                        <input type="text" name="emailConfirmDomain" id="id_emailConfirmDomain" class="form-control input-emailconfirm" value="<%= emailConfirmDomain %>">
                        <input type="hidden" id="input_emailconfirmconcat" name="emailconfirmconcat" class="input-required" data-pattern="^[a-zA-Z0-9@\.!#$%&'*+/=?^_`{|}~-]*$" data-parentSelector=".wrapper-emailconfirm" data-fieldname="<%- __('Form.FieldName.emailConfirm') %>">
                    </div>
                    <p class="notice"><%- __('Message.SettingForLimitingEmailReception') %></p>
                    <p class="errmsg errmsg-email"><%- (validation && validation.email ? validation.email.msg : '') %></p>
                    <p class="errmsg errmsg-emailconfirmconcat"></p>
                    <p class="errmsg errmsg-emailConfirm"><%- (validation && validation.emailConfirm ? validation.emailConfirm.msg : '') %></p>
                    <p class="errmsg errmsg-emailConfirmDomain"><%-  (validation && validation.emailConfirmDomain ? validation.emailConfirmDomain.msg : '') %></p>
                </td>
            </tr>

            <tr class="tr-tel <% (validation && validation.tel ? 'has-error' : '') %>">
                <th><label for="id_tel"><%- __('Form.FieldName.tel') %></label><span class="required">*</span></th>
                <td>
                    <input type="text" name="tel" id="id_tel" class="form-control input-required" minlength="6" maxlength="15" data-pattern="^[0-9]{6,15}$" data-fieldname="<%- __('Form.FieldName.tel') %>" value="<%= tel %>">
                    <label for="checkbox_otherregion">
                        <input type="checkbox" id="checkbox_otherregion">Other Area
                    </label>
                    <div id="wrapper_tel_otherregion">
                        <p>Enter your telephone number start with calling code (without "+" and "-")</p>
                        <input type="text" name="tel" id="input_tel_otherregion" class="form-control" minlength="4" maxlength="15" data-pattern="^[0-9]{4,15}$" data-fieldname="<%- __('Form.FieldName.tel') %>" value="<%= tel %>" disabled="disabled">
                    </div>
                    <input type="hidden" name="address" id="input_country" value="<%- address %>">
                    <p class="notice">※<%- __('Message.UseHalfWidthAlphanumericWithoutHyphens') %></p>
                    <p class="errmsg errmsg-tel"><%- (validation && validation.tel ? validation.tel.msg : '') %></p>
                </td>
            </tr>

            <tr class="tr-id_gender">
                <th><label for="id_gender"><%- __('Form.FieldName.gender') %></label></th>
                <td>
                    <%
                    let genderChoices = [
                        {code: '', name: 'Label.NotSelected'},
                        {code: '1', name: 'Label.Male'},
                        {code: '2', name: 'Label.Female'},
                    ];
                    %>
                    <select class="form-control" name="gender">
                        <option value="">---</option>
                        <% for (let choice of genderChoices) { %>
                        <option value="<%= choice.code %>"<% if (age === choice.code) { %> selected="selected"<% } %>><%- __(choice.name) %></option>
                        <% } %>
                    </select>
                </td>
            </tr>

            <tr class="tr-id_age">
                <th><label for="id_age"><%- __('Form.FieldName.age') %></label></th>
                <td>
                    <%
                    let ageChoices = [
                        {code: '00', name: '~10'},
                        {code: '10', name: '10～14'},
                        {code: '15', name: '15～19'},
                        {code: '20', name: '20～24'},
                        {code: '25', name: '25～29'},
                        {code: '30', name: '30～34'},
                        {code: '35', name: '35～39'},
                        {code: '40', name: '40～44'},
                        {code: '45', name: '45～49'},
                        {code: '50', name: '50～54'},
                        {code: '55', name: '55～59'},
                        {code: '60', name: '60～64'},
                        {code: '65', name: '65～69'},
                        {code: '70', name: '70～74'},
                        {code: '75', name: '75～79'},
                        {code: '80', name: '80~'}
                    ];
                    %>
                    <select class="form-control" name="age">
                        <option value="">---</option>
                        <% for (let choice of ageChoices) { %>
                        <option value="<%= choice.code %>"<% if (age === choice.code) { %> selected="selected"<% } %>><%- choice.name %></option>
                        <% } %>
                    </select>
                </td>
            </tr>

            <tr class="tr-price">
                <th><label><%- __('Label.TotalPrice') %></label></th>
                <td>
                    <p><span class="price">&yen;<%- numeral(reservationModel.getTotalCharge()).format('0,0') %></span></p>
                </td>
            </tr>

            <tr class="tr-cardNumber <% (validation && validation.cardNumber ? 'has-error' : '') %>">
                <th><label for="cardNumber"><%- __('Form.FieldName.cardNumber') %></label><span class="required">*</span></th>
                <td>
                    <input type="text" name="cardNumber" id="cardNumber" class="form-control input-required" value="" maxlength="16" data-pattern="^[0-9]+$" data-fieldname="<%- __('Form.FieldName.cardNumber') %>" required>
                    <p class="errmsg errmsg-cardNumber"><% (validation && validation.cardNumber ? validation.cardNumber.msg : '') %></p>
                    <p><img src="/images/common/available_credit_cards.png" alt="available credit cards"></p>
                    <p><%- __('Message.CreditAvailable') %></p>
                    <p class="notice"><%- __('Message.cardNumber') %></p>
                </td>
            </tr>

            <tr class="tr-holdername <% (validation && validation.holdername ? 'has-error' : '') %>">
                <th><label for="holdername"><%- __('Form.FieldName.holdername') %></label><span class="required">*</span></th>
                <td>
                    <input type="text" name="holdername" id="holdername" class="form-control input-required" value="" data-fieldname="<%- __('Form.FieldName.holdername') %>" required>
                    <p class="errmsg errmsg-holdername"><% (validation && validation.holdername ? validation.holdername.msg : '') %></p>
                </td>
            </tr>

            <tr class="tr-expire <% (validation && validation.expire ? 'has-error' : '') %>">
                <th><label for="expire"><%- __('Form.FieldName.expire') %></label><span class="required">*</span></th>
                <td>
                    <select name="cardExpirationMonth" id="cardExpirationMonth" class="form-control select-cardexpire" required>
                        <option value="">--</option>
                        <%
                        for (let i = 0; i < 12; i++) {
                            let num = i + 1;
                            let month = (num < 10) ? '0' + String(num) : String(num);
                        %>
                            <option value="<%= month %>"><%= month %></option>
                        <% } %>
                    </select> <%- __('Form.FieldName.cardExpirationMonth') %> 
                    <select name="cardExpirationYear" id="cardExpirationYear" class="form-control select-cardexpire" required>
                        <option value="">--</option>
                        <%
                        let choices = {};
                        let year2digits = moment().format('YY');
                        for (let i = 0; i < 10; i++) {
                            let key = (parseInt(year2digits) + i).toString();
                            choices[key] = `20${key}`;
                        }
                        %>
                        <% for (let key in choices) { %>
                        <option value="20<%- key %>"><%- choices[key] %></option>
                        <% } %>
                    </select> <%- __('Form.FieldName.cardExpirationYear') %>
                    <input type="hidden" name="expire" id="expire" value="" class="input-required" data-fieldname="<%- __('Form.FieldName.expire') %>" required>
                    <p class="errmsg errmsg-expire"><% (validation && validation.expire ? validation.expire.msg : '') %></p>
                </td>
            </tr>

            <tr class="tr-securitycode <% (validation && validation.securitycode ? 'has-error' : '') %>">
                <th><label for="securitycode"><%- __('Form.FieldName.securitycode') %></label><span class="required">*</span></th>
                <td>
                    <input type="text" name="securitycode" id="securitycode" class="form-control input-required" value="" maxlength="4" data-pattern="^[0-9]+$" data-fieldname="<%- __('Form.FieldName.securitycode') %>" required>
                    <p class="btn-securitycode" id="modalbtn_cardsecurirycode"><%- __('Message.securitycode') %></p>
                    <p class="errmsg errmsg-securitycode"><% (validation && validation.securitycode ? validation.securitycode.msg : '') %></p>
                </td>
            </tr>
        </tbody>

    </table>
    <input type="hidden" name="gmoTokenObject" value="">
    <input style="display:none;" type="radio" name="paymentMethod" value="0" checked="checked">
    <script src="/js/lib/intl-tel-input/intlTelInput.min.js">
<% } %>
</form>

<div class="modal fade" id="modal_cardsecurirycode" tabindex="-1">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<p class="btn-close" data-dismiss="modal"><span>×</span></p>
				<h2 class="modal-title">セキュリティコードについて</h2>
				<p class="guidetext">※カード会社により表示箇所および名称が異なります。</p>
                <p name="error-message"></p>
			</div>
			<div class="modal-body">
                <h3>VISA / MASTER / DINERS / JCB の場合</h3>
                <p>【カード裏面】セキュリティコード(末尾3桁)</p>
                <figure><img src="/images/common/figure_securitycode_common.png" alt="VISA / MASTER / DINERS / JCB の場合はカード裏面の末尾3桁"></figure>
                <h3>AMEXの場合</h3>
                <p>【カード表面】セキュリティコード(4桁)</p>
                <figure><img src="/images/common/figure_securitycode_amex.png" alt="AMEXの場合はカード表面の4桁"></figure>
			</div>
		</div>
	</div>
</div>
<script>
    $('#modalbtn_cardsecurirycode').click(function() {
        $('#modal_cardsecurirycode').modal();
    });
</script>

<script src="<%= GMO_ENDPOINT %>/ext/js/token.js"></script>
<script>Multipayment.init('<%= GMO_SHOP_ID %>');</script>
<script src="/js/profile.js"></script>
