<script src="/js/reserve/seats.js"></script>
<input type="hidden" name="seatsLimit" value="<%- limit %>">
<input type="hidden" name="seatsLimitMessage" value="<%- __('Message.seatsLimit{{limit}}', {limit: limit.toString()}) %>">

<%- include('./_step') %>

<h1 class="pagetitle"><%- __('h1.SelectSeats') %></h1>
<p class="guidetext"><%- __('Label.SelectSeatsGuideText') %></p>

<div class="wrapper-2clm">

    <p class="guidetext visible-mobile-block"><%- __('Label.SelectSeatsGuideTextSP') %></p>

    <%
    let url4seatStatusesMap = `/reserve/${reservationModel.performance._id}/unavailableSeatCodes`;
    if (reservationModel.purchaserGroup === ReservationUtil.PURCHASER_GROUP_STAFF) {
        url4seatStatusesMap = `/reserve/getSeatProperties`;
    }
    %>
    <div class="clm-left wrapper-seats seatStatusesMap hidden" data-url="<%- url4seatStatusesMap %>" data-seat-codes="<%= (reservationModel.seatCodes) ? JSON.stringify(reservationModel.seatCodes) : '[]' %>">

        <% if (req.query.message) { %>
        <div class="alert alert-danger" role="alert">
            <a href="javascript:void(0)" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            <%- req.query.message %>
        </div>
        <% } %>

        <div class="wrapper-seats-guides">

            <div class="seats-guide">
                <div class="figure">
                    <div><img src="/images/screen/icon-normal.png" alt="Available"></div>
                    <div><strong><%- __('SeatsGuide.Avalilable.Name') %></strong><%- __('SeatsGuide.Avalilable.Caption') %></div>
                </div>
                <div class="figure">
                    <div><img src="/images/screen/icon-selected.png" alt="Selected"></div>
                    <div><strong><%- __('SeatsGuide.Selected.Name') %></strong><%- __('SeatsGuide.Selected.Caption') %></div>
                </div>
                <div class="figure">
                    <div><img src="/images/screen/icon-disabled.png" alt="Disabled"></div>
                    <div><strong><%- __('SeatsGuide.Disabled.Name') %></strong><%- __('SeatsGuide.Disabled.Caption') %></div>
                </div>
            </div>

            <div class="seats-guide seats-guide-special">
                <% if (reservationModel.seatGradeCodesInScreen.indexOf(ScreenUtil.SEAT_GRADE_CODE_PREMIERE_LUXURY) >= 0) { %>
                <div class="figure figure-premierluxury">
                    <div><img src="/images/screen/icon-premierluxury.png" alt="Premier Luxury"></div>
                    <div><strong><%- __('SeatsGuide.PremiereLuxury.Name') %></strong>+&yen;500</div>
                </div>
                <% } %>

                <% if (reservationModel.seatGradeCodesInScreen.indexOf(ScreenUtil.SEAT_GRADE_CODE_PREMIERE_BOX) >= 0) { %>
                <div class="figure figure-premierbox">
                    <div><img src="/images/screen/icon-premierbox.png" alt="Premier Box"></div>
                    <div><strong><%- __('SeatsGuide.PremiereBox.Name') %></strong>+&yen;500</div>
                </div>
                <% } %>

                <% if (reservationModel.seatGradeCodesInScreen.indexOf(ScreenUtil.SEAT_GRADE_CODE_FRONT_RECLINING) >= 0) { %>
                <div class="figure figure-flontreclining">
                    <div><img src="/images/screen/icon-flontreclining.png" alt="Front Reclining"></div>
                    <div><strong><%- __('SeatsGuide.FrontReclining.Name') %></strong><br></div>
                </div>
                <% } %>
            </div>

        </div>

        <%- reservationModel.screenHtml %>
        <input type="hidden" name="messageRequiredSeat" value="<%- __('Message.PleaseSelectSeat') %>">
    </div>

    <div class="clm-right">
        <%- include('./_reservationModel') %>
    </div>
</div>
