<%
    const isStaff = (reservationModel.purchaserGroup === 'Staff');
    const tempReservationModel = (isStaff) ? reservationModel : reservationModel.transactionInProgress;
    const isWheelchair = (tempReservationModel.category === 'wheelchair');
    const tempReservationModel_reservations = tempReservationModel.reservations || tempReservationModel.seatCodes.concat((tempReservationModel.seatCodesExtra || [])).map((seatCode) => { return tempReservationModel[`reservation_${seatCode}`]; });
%>

<%- include('./_step', {currentStepName: 'tickets'}) %>

<input type="hidden" name="category" value="<%= tempReservationModel.category %>">

<h1 class="pagetitle"><%- __('SelectTickets') %></h1>
<p class="guidetext"><%- __('SelectTicketsGuideText') %></p>

<% if (message) { %>
<p class="guidetext red"><%= message %></p>
<% } %>

<% if (!isStaff && !isWheelchair) { %>
<p class="guidetext guidetext-wheelchair is-customer red"><%- __('LinkContainedForWCGuide') %></p>
<% } %>

<a class="link-guide" href="/ticketinfo" target="_blank"><%- __('AboutTicket') %></a>

<div class="wrapper-2clm">
    <div class="clm-left" data-token="">
        <table class="table table-tickets">
            <thead>
                <tr>
                    <th><%- __('TicketType') %></th>
                    <th><%- __('TicketCount') %></th>
                </tr>
            </thead>
            <tbody>
                <% /* スタッフ予約時 => 券種ごとの予約メモを回収 */
                    const memosByTicketType = {};
                    if (isStaff) {
                        tempReservationModel_reservations.forEach((reservation) => {
                            let ticketId = reservation.ticket_type;
                            if (typeof memosByTicketType[ticketId] !== 'string') {
                                memosByTicketType[ticketId] = reservation.watcher_name;
                            }
                        });
                    }
                    tempReservationModel.ticketTypes.forEach(function(ticketType) {
                    // 一般予約(general)だったら一般券種以外を弾く
                    if (tempReservationModel.category === 'general' && ticketType.ttts_extension.category !== 'Normal') {
                        return true;
                    }
                %>
                    <tr data-ticket-code="<%- ticketType._id %>" data-ticket-charge="<%= ticketType.charge %>">
                        <th>
                            <span><%- ticketType.name[locale] %> <span class="is-ja">&yen;</span><%= ticketType.charge %><span class="is-not-ja"> JPY</span></span>
                            <%
                                if (isStaff) {
                            %>
                                <input type="text" name="watcherName" class="form-control" placeholder="予約メモ" data-ticket-code="<%- ticketType._id %>" value="<%- memosByTicketType[ticketType._id] %>">
                            <% } %>
                        </th>
                        <td>
                            <select id="select_ticketq_<%- ticketType._id %>" class="form-control">
                                <% for (let ticketCount = 0; ticketCount < 11; ticketCount++) { %>
                                    <option value="<%- ticketCount.toString() %>"<% if (ticketCount === ticketType.count) { %> selected="selected"<% } %>><%- ticketCount.toString() %></option>
                                <% } %>
                            </select>
                        </td>
                    </tr>
                <%
                });
                %>
            </tbody>
            <tfoot class="hidden">
                <tr><td colspan="2">
                    <%- __('TotalPrice') %> <span class="price"><span class="is-ja">&yen;</span><span id="echo_total"></span><span class="is-not-ja"> JPY</span></span>
                </td></tr>
            </tfoot>
        </table>
    </div>

    <div class="clm-right">
        <%- include('./_reservationModel', { tempReservationModel }) %>
    </div>

</div>

<form method="post">
    <input type="hidden" name="choices">
</form>

<p class="alert-ticket alert-ticket-overmax">選択出来る枚数は <%= conf.get('reservation_maxq') %>枚 までとなります。</p>

<script src="/js/reserve/tickets.js"></script>
