<%
    const isStaff = (reservationModel.purchaserGroup === 'Staff');
    const isWheelchair = (reservationModel.category === 'wheelchair');
%>

<%- include('./_step', {currentStepName: 'tickets'}) %>

<input type="hidden" name="category" value="<%= reservationModel.category %>">

<h1 class="pagetitle"><%- __('SelectTickets') %></h1>
<p class="guidetext"><%- __('SelectTicketsGuideText') %></p>

<% if (message) { %>
<p class="guidetext red"><%= message %></p>
<% } %>

<% if (!isStaff && !isWheelchair) { %>
<p class="guidetext guidetext-wheelchair is-customer red"><%- __('LinkContainedForWCGuide') %></p>
<% } %>

<a class="link-guide" href="/ticketinfo" target="_blank"><%- __('AboutTicket') %></a>

<div class="wrapper-2clm">
    <div class="clm-left" data-token="">
        <table class="table table-tickets">
            <thead>
                <tr>
                    <% /* 券種 */ %>
                    <th><%- __('TicketType') %></th>
                    <% /* 枚数 */ %>
                    <th><%- __('TicketCount') %></th>
                </tr>
            </thead>
            <tbody>
                <% /* スタッフ予約時 => 券種ごとの予約メモを回収 */
                    const memosByTicketType = {};
                    if (isStaff) {
                        reservationModel.seatCodes.forEach((seatCode) => {
                            let reservation = reservationModel[`reservation_${seatCode}`]
                            let ticketId = reservation.ticket_type;
                            if (typeof memosByTicketType[ticketId] !== 'string') {
                                memosByTicketType[ticketId] = reservation.watcher_name;
                            }
                        });
                    }
                %>
                <% /* 券種分loop */ %>
                <% reservationModel.ticketTypes.forEach(function(ticketType) {
                    // 一般予約(general)だったら一般券種以外を弾く
                    if (reservationModel.category === 'general' && ticketType.ttts_extension.category !== '0') {
                        return true;
                    }
                %>
                    <tr data-ticket-code="<%- ticketType._id %>" data-ticket-charge="<%= ticketType.charge %>">
                        <% /* 券種名+値段 */ %>
                        <th>
                            <span><%- ticketType.name[locale] %> \<%= ticketType.charge %></span>
                            <%
                                /* スタッフ予約時 => 予約メモ欄を表示 */
                                if (isStaff) {
                            %>
                                <input type="text" name="watcherName" class="form-control" placeholder="予約メモ" data-ticket-code="<%- ticketType._id %>" value="<%- memosByTicketType[ticketType._id] %>">
                            <% } %>
                        </th>
                        <td>
                            <% /* 枚数選択dropdown */ %>
                            <select id="select_ticketq_<%- ticketType._id %>" class="form-control">
                                <% for (let ticketCount = 0; ticketCount < 11; ticketCount++) { %>
                                    <option value="<%- ticketCount.toString() %>"<% if (ticketCount === ticketType.count) { %> selected="selected"<% } %>><%- ticketCount.toString() %></option>
                                <% } %>
                            </select>
                        </td>
                    </tr>
                <%
                });
                %>
            </tbody>
            <% /* 合計金額 */ %>
            <tfoot class="hidden">
                <tr><td colspan="2">
                    <%- __('TotalPrice') %><span class="price"></span>
                </td></tr>
            </tfoot>
        </table>
    </div>

    <div class="clm-right">
        <%- include('./_reservationModel') %>
    </div>

</div>

<form method="post">
    <input type="hidden" name="choices">
</form>

<p class="alert-ticket alert-ticket-overmax">選択出来る枚数は <%= conf.get('reservation_maxq') %>枚 までとなります。</p>

<script src="/js/reserve/tickets.js"></script>
