<%
    const tempReservationModel = reservationModel.transactionInProgress;
    const isStaff = (tempReservationModel.purchaserGroup === 'Staff');
    const isWheelchair = (tempReservationModel.category === 'wheelchair');
    const tempReservationModel_reservations = tempReservationModel.reservations;
    let watcherName = '';
    if (isStaff && tempReservationModel_reservations.length > 0){
        watcherName = tempReservationModel_reservations[0].watcher_name;
    }
%>
<script>
    window.ttts.isStaff = <%- isStaff %>;
</script>

<%- include('./_step', {currentStepName: 'tickets'}) %>

<input type="hidden" name="category" value="<%= tempReservationModel.category %>">

<h1 class="pagetitle"><%- __('SelectTickets') %></h1>
<p class="guidetext"><%- __('SelectTicketsGuideText') %></p>

<% if (message) { %>
<p class="guidetext red"><%= message %></p>
<% } %>

<% if (!isStaff && !isWheelchair) { %>
<p class="guidetext guidetext-wheelchair is-customer red"><%- __('LinkContainedForWCGuide') %></p>
<% } %>

<a class="link-guide" href="/ticketinfo" target="_blank"><%- __('AboutTicket') %></a>

<div class="wrapper-2clm">
    <div class="clm-left" data-token="">
        <table class="table table-tickets">
            <thead>
                <tr>
                    <th><%- __('TicketType') %></th>
                    <th><%- __('TicketCount') %></th>
                </tr>
            </thead>
            <tbody>
                <%
                    // 車椅子予約なので車椅子の券を上位に持ってくる
                    if (isWheelchair) {
                        tempReservationModel.ticketTypes.sort((a, b) => {
                            if (b.ttts_extension.category === 'Wheelchair') {
                                if (a.ttts_extension.category === b.ttts_extension.category) {
                                    return 0;
                                }
                                return 1;
                            } else if (a._id > b._id) {
                                return -1;
                            }
                            return 0;
                        });
                    }
                    tempReservationModel.ticketTypes.forEach(function(ticketType) {
                        // 一般予約(general)だったら一般券種以外を弾く
                        if (tempReservationModel.category === 'general' && ticketType.ttts_extension.category !== 'Normal') {
                            return true;
                        }
                %>
                    <tr data-ticket-code="<%- ticketType._id %>" data-ticket-charge="<%= ticketType.charge %>">
                        <th>
                            <span><%- ticketType.name[locale] %> <%- __('{{price}} yen', { price: ticketType.charge } ) %></span>
                        </th>
                        <td>
                            <select id="select_ticketq_<%- ticketType._id %>" class="form-control">
                                <% for (let ticketCount = 0; ticketCount < 11; ticketCount++) { %>
                                    <option value="<%- ticketCount.toString() %>"<% if (ticketCount === ticketType.count) { %> selected="selected"<% } %>><%- ticketCount.toString() %></option>
                                <% } %>
                            </select>
                        </td>
                    </tr>
                <%
                });
                %>
                <%
                    if (isStaff) {
                %>
                    <tr>
                        <td colspan="2">
                            <input type="text" id="input_watcherName" name="watcherName" class="form-control" placeholder="予約メモ"  value="<%- watcherName %>">
                        </td>
                    </tr>
                <% } %>
            </tbody>
            <tfoot class="hidden">
                <tr><td colspan="2">
                    <%- __('TotalPrice') %> <span class="price"><span id="echo_total"></span><%- __('{{price}} yen') %></span>
                </td></tr>
            </tfoot>
        </table>
    </div>

    <div class="clm-right">
        <%- include('./_reservationModel', { tempReservationModel }) %>
    </div>

</div>

<form method="post">
    <input type="hidden" name="choices">
</form>

<p class="alert-ticket alert-ticket-overmax"><%- (isStaff) ? `選択出来る枚数は ${conf.get('reservation_maxq')} 枚までとなります。` : __('SeatsLimit{{limit}}', { limit: conf.get('reservation_maxq') } ) %></p>

<script src="/js/reserve/tickets.js"></script>
