<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="utf-8">
<title>Tokyo Tower PRINT TICKET</title>
<style>
@page {
    size: 50.8mm auto;
    margin: 0;
}
html,
body {
    width: 50.8mm;
}
</style>
<link href="/css/print.css" rel="stylesheet">
</head>
<body>

<%
moment.locale(locale);
for (let reservation of reservations) {
%>
<div class="pcthermarlprintcontent">

    <p class="pr-header">
        <img src="/images/common/logo.png"><br>
        チケット兼領収書
    </p>

    <p class="pr-guide">QRコードを入場時にかざしてください</p>

    <p class="pr-qrcode">
        <img src="//chart.apis.google.com/chart?chs=150x150&cht=qr&chl=<%= reservation.qr_str %>">
    </p>

    <div class="pr-paymentno">
        <h3>購入番号<br>-PAYMENT NUMBER-</h3>
        <strong><%- reservation.get('payment_no') %></strong>
    </div>

    <div class="pr-date">
        <h3>ご来塔ご予約日時<br>-DATE-</h3>
        <p>
            <%- moment(reservation.performance_day, 'YYYYMMDD').format('YYYY/MM/DD') %><br>
            <%- moment(reservation.performance_start_time, 'HHmm').format('HH:mm') + '-' + moment(reservation.performance_end_time, 'HHmm').format('HH:mm') %>
        </p>
    </div>

    <p class="pr-notice">
        ※混雑する場合がございますので、15分前にお越し下さい。<br>
        please come 15 min before\nto avoid the crowds.
    </p>
                       
    <div class="pr-ticket">
        <h3>券種・金額<br>-TICKET-</h3>
        <p>
            <%- reservation.ticket_type_name.ja %><br>
            <%- reservation.ticket_type_name.en %><br>
            <%- '￥' + reservation.ticket_type_charge + ' (' + reservation.seat_code + ')' %>
        </p>
    </div>

    <div class="pr-publish">
        <p>発行者: </p>
        <p><%- moment().format('YYYY/MM/DD HH:mm:ss') %></p>
    </div>

</div>
<% } %>

</body>
</html>
