<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="utf-8">
<title>CHEVRE2016 PRINT TICKET</title>
<link href="/css/print.css" rel="stylesheet">
</head>
<body>

<% for (let reservation of reservations) { %>
<div class="printcontent">

    <div class="pr-header pr-bg">
        <img class="pr-bg-image" src="/images/print/header.png">
    </div>

    <div class="pr-thanks">
        この度はご購入いただき誠にありがとうございます。鑑賞当日はこちらのチケットをご持参してQRコードをご提示頂いてご入場下さい。<br>
        <span class="smalltext">Thank you very much for your purchase. Please bring this ticket with you on the day of your purchased screening.</span>
    </div>

    <div class="pr-qrcode pr-bg">
        <img class="pr-bg-image" src="/images/print/bg_gray.png">
        <div class="pr-bg-content inner">
            <h2>
                こちらのQRコードを入場時リーダーにかざし、ご入場ください。
                <span class="smalltext">Please scan this QR code when entering the screen.</span>
            </h2>
            <div class="wrapper-qrimg pr-bg">
                <img src="//chart.apis.google.com/chart?chs=150x150&cht=qr&chl=<%= reservation.qr_str %>">
            </div>
        </div>
    </div>


    <div class="pr-paddinglr">

        <div class="pr-title">

            <h3>作品名<span class="smalltext">Title</span></h3>

            <strong class="filmtitle<%- (reservation.get('film_name').ja.length > 63) ? ' filmtitle-long' : '' %>"><%= reservation.get('film_name').ja %></strong>

            <span class="smalltext"><%= reservation.get('film_name').en %></span>

        </div>

        <table class="pr-maintable">
            <tr>
                <td class="pr-rsrvnum">
                    <h3>購入番号<span class="smalltext">Transaction number</span></h3>

                    <strong><%- reservation.get('payment_no') %></strong>

                </td>

                <td class="pr-screen" rowspan="6">

                    <img src="/images/print/screen/<%- reservation.get('screen') %>.png">

                </td>

            </tr>

            <tr><td class="pr-location">

                <h3>劇場<span class="smalltext">Venue</span></h3>

                <strong><%- reservation.get('theater_name').ja %> <%- reservation.get('screen_name').ja %></strong>
                <span class="smalltext"><%- reservation.get('theater_name').en %> <%- reservation.get('screen_name').en %></span>

                <p class="theateraddress">
                    <%= reservation.get('theater_address').ja %>
                    <span class="smalltext">
                        <%= reservation.get('theater_address').en %>
                    </span>
                </p>

            </td></tr>


            <tr><td class="pr-time">

                <h3>時間<span class="smalltext">Screening Date</span></h3>
                <table class="timetable"><tr>

                    <td><strong><%- reservation.get('performance_day').substr(0, 4) %>/<%- reservation.get('performance_day').substr(4, 2) %>/<%- reservation.get('performance_day').substr(6) %></strong></td>

                    <td>開場<span class="smalltext">(OPEN)</span></td>
                    <td><strong><%- reservation.get('performance_open_time').substr(0, 2) %>:<%- reservation.get('performance_open_time').substr(2) %></strong></td>

                    <td>開演<span class="smalltext">(START)</span></td>
                    <td><strong><%- reservation.get('performance_start_time').substr(0, 2) %>:<%- reservation.get('performance_start_time').substr(2) %></strong></td>

                </tr></table>

            </td></tr>


            <tr><td class="pr-seat">

                <h3>座席(全席指定)<span class="smalltext">All seats are specified</span></h3>

                <strong><%- reservation.get('seat_code').substr(0, reservation.get('seat_code').lastIndexOf('-')) %> 列 <%- reservation.get('seat_code').substr(reservation.get('seat_code').lastIndexOf('-')) %> 番</strong>
                <span class="smalltext"><%- reservation.get('seat_code') %></span>

            </td></tr>


            <tr><td class="pr-ticket">

                <h3>券種・金額<span class="smalltext">Type of ticket / Charge Amount</span></h3>

                <strong><%- reservation.get('ticket_type_detail_str').ja.replace(/\\/g, '&yen;') %></strong>
                <span class="smalltext"><%- reservation.get('ticket_type_detail_str').en.replace(/\\/g, '&yen;') %></span>

            </td></tr>


            <tr><td class="pr-term">
                <p>
                    主催:公益財団法人ユニジャパン CHEVRE_EVENT_NAME実行委員会<br>
                    Organizer: Foundation UNIJAPAN Tokyo International Film Festival Executive Committee 29th
                </p>

                <p>
                    ※学生(小学生は除く)の方は、劇場へのご入場の際に、必ず学生証または生徒手帳のご提示をお願いします。<br>
                    *Students (excluding elementary school students) are asked to show their student ID card or student handbook before entering the cinema.<br>
                    ※交通渋滞による来場遅延、その他いかなる場合でも、ご購入後のチケットの変更およびキャンセル・払い戻しはいたしません。<br>
                    なお不可抗力により表記公演の興行を中止する場合の払い戻しは、所定の期間内に所定の方法にて行います。<br>
                    *Once tickets are purchased, they cannot be changed, canceled or refunded under any circumstance, including delayed arrival due to traffic congestion. If the event is canceled due to any unforeseen causes, tickets will be refunded by the prescribed methods during the prescribed period of time.<br>
                    ※本チケットは領収書としてご利用いただけます。<br>
                    *This ticket can be used as a receipt.
                </p>

            </td></tr>
        </table>

    </div>

    <div class="pr-footer pr-bg">
        <img class="pr-bg-image" src="/images/print/bg_black.png">
        <div class="pr-bg-content">
            <h4>チケットのお問合せ</h4>： 050-3786-0368 / 12:00～18:00（休業：土/日/祝日　CHEVRE_EVENT_NAME開催期間中は無休）<br>
            <h4>オフィシャルサイト</h4>： http://2016.tiff-jp.net/<br>
            <h4>For inquiries about tickets</h4>: 050-3786-0368 / 12:00 p.m. to 6:00 p.m. (Closed on Saturdays, Sundays, and national holidays, except during CHEVRE)<br>
            <h4>Official website</h4>: http://2016.tiff-jp.net/
        </div>
    </div>


</div>
<% } %>

</body>
</html>