<footer>
    <ul class="is-customer">
        <li><a href="/terms" target="_blank"><%- __('Terms') %></a></li>
        <li><a href="/privacypolicy" target="_blank"><%- __('AboutPrivacy') %></a></li>
        <li><a href="/contact" target="_blank"><%- __('ContactUs') %></a></li>
    </ul>
    <div class="copyrights">
        <div class="inner">
            ©<%- new Date().getFullYear() %> TOKYO TOWER. ALL RIGHTS RESERVED.
        </div>
    </div>
</footer>

<script>
    window.ttts.API_ENDPOINT = '<%= process.env.API_ENDPOINT %>';
    window.ttts.commonlocales = {
        Next: '<%= __('Next') %>',
        Sending: '<%= __('Processing') %>',
        UnexpectedError: '<%= __('UnexpectedError') %>'
    };
    window.ttts.reservation_maxq = '<%- conf.get('reservation_maxq') %>';
    $(document).on('click', '.update-locale', function(){
        location.href = '/language/update/' + $(this).attr('data-locale') + '?cb=' + location.href;
    })
</script>
